<div [formGroup]="model"
     class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="soil-prop-variable">Variable</label>
                <glt-vocab-term-input inputId="soil-prop-variable"
                                      vocabulary="Soil Properties"
                                      [model]="model.get('variable')">
                </glt-vocab-term-input>
            </div>
            <ng-container formGroupName="depth">

                <div class="form-group col-sm-2">
                    <label for="soil-prop-depth-min">Minimum depth</label>
                    <input type="number"
                           class="form-control"
                           id="soil-prop-depth-min"
                           formControlName="minDepth">
                </div>
    
                <div class="form-group col-sm-2">
                    <label for="soil-prop-depth-max">Maximum depth</label>
                    <input type="number"
                           class="form-control"
                           id="soil-prop-depth-max"
                           formControlName="maxDepth">
                </div>

                <div class="form-group col-sm-2">
                    <label for="soil-prop-depth-unit">Units</label>
                    <div ngbDropdown>
                        <button class="btn btn-outline-primary dropdown-toggle"
                                id="soil-prop-depth-unit"
                                type="button"
                                ngbDropdownToggle>
                            {{ depthUnitLabel }}
                        </button>
                        <div class="dropdown-menu" 
                             ngbDropdownMenu>
                            <button ngbDropdownItem
                                    *ngFor="let unit of depthUnitValues"
                                    (click)="setDepthUnit(unit)">
                                {{ unit }}
                            </button>
                        </div>
                        <div class="invalid-feedback"
                             [ngStyle]="{'display': depthUnitControl.invalid ? 'block' : 'none'}">
                            Required
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="col-sm-1 text-center">
                <button type="button" 
                        class="btn btn-outline-danger full-height-button"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <label for="soil-prop-is-est">Is estimated?</label>
                <input type="checkbox"
                       class="form-control"
                       id="soil-prop-is-est"
                       formControlName="isEstimated">
            </div>

            <div class="form-group col-sm">
                <label for="soil-prop-is-base">Is baseline?</label>
                <input type="checkbox"
                       class="form-control"
                       id="soil-prop-is-base"
                       formControlName="isBaseline">
            </div>

            <div class="form-group col-sm">
                <label for="soil-prop-ref-year">Reference year</label>
                <input type="number"
                       class="form-control"
                       id="soil-prop-ref-year"
                       formControlName="referenceYear">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label for="soil-prop-typical">Typical</label>
                <input type="number"
                       class="form-control"
                       id="soil-prop-typical"
                       formControlName="typicalValue">
            </div>

            <div class="form-group col-sm-3">
                <label for="soil-prop-min">Minimum</label>
                <input type="number"
                       class="form-control"
                       id="soil-prop-min"
                       formControlName="minValue">
            </div>

            <div class="form-group col-sm-3">
                <label for="soil-prop-max">Maximum</label>
                <input type="number"
                       class="form-control"
                       id="soil-prop-min"
                       formControlName="maxValue">
            </div>

            <div class="form-group col-sm-3">
                <label for="soil-prop-units">Units</label>
                <glt-vocab-term-input inputId="soil-prop-units"
                                      vocabulary="Units"
                                      [model]="model.get('unit')">
                </glt-vocab-term-input>
            </div>
        </div>


    </div>
</div>
