<glt-header></glt-header>

<div class="container">
    <h1>GLTEN Metadata Portal</h1>

    <div class="row">
        <div class="col-sm-8">
            <p>The GLTEN is network of long-term agricultural experiments and associated researchers spanning six continents and representing a range of climates, environments, crop systems and farming practices.</p>
            <p>
                The GLTEN Metadata Portal lets you discover long-term agricultural experiments from around the globe.
            </p>

            <h2>Take Part</h2>
	        <p>If you wish to become a member or have other questions about the GLTEN or GLTEN Metadata Portal, please email the GLTEN Co-Ordinator at <a href="mailto:glten@rothamsted.ac.uk">glten@rothamsted.ac.uk</a></p>

            <!--<glt-thumbnail-map>
            </glt-thumbnail-map>-->
        </div>

        <div class="col-sm-4">
        <!--    <div class="row">
                <div class="col-sm">-->
                    <!-- NB this is activated by an afterViewInit hook -->
                    <a class="twitter-timeline" href="https://twitter.com/AgGlten?ref_src=twsrc%5Etfw" data-height="300">Tweets by AgGlten</a>
           <!--     </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <iframe width="298" height="168" src="https://www.youtube.com/embed/llxMwjhRKpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>    
            </div>-->
        </div>
    </div>
        <form>
            <div class="input-group mb-1 mt-3">
                <input type="text"
                       class="form-control"
                       placeholder="Search experiments, e.g. 'wheat', 'no-till', 'luvisol'"
                       [formControl]="exptSearchControl" />
                <div class="input-group-append">
                    <button type="submit"
                            class="btn btn-outline-secondary rounded-right"
                            (click)="exptSearchClicked($event)">
                        Search
                    </button>
                </div>
                <div class="search-feedback"
                     [ngClass]="{'hidden': !wasQuery}">
                    Search matched {{ total_matches }} of {{ total_experiments }} experiments.
                </div>
            </div>
        </form>
    
        <div *ngIf="err" style="color: red">
            {{ err.message }}
        </div>
    
        <glt-loading *ngIf="!err && !experiments">
        </glt-loading>
    
        <div *ngIf="!err && experiments">
            <!-- We chose to keep the non-active tabs around in this case, to avoid churning
                 Leaflet objects -->
    
            <ngb-tabset [destroyOnHide]="false"
                        activeId="expt-map">
                <ngb-tab title="List"
                         id="expt-list">
                    <ng-template ngbTabContent>
                        <table class="table table-striped table-hover">
                            <thead>
                                <th>Name</th>
                                <th>Last edited</th>
                                <th *ngIf="userCanUnpublish">Actions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let expt of experiments">
                                    <td>
                                        <a routerLink="/experiments/{{expt.experiment_id}}">
                                            {{expt.name}}
                                        </a>
                                    </td>
                                    <td>{{expt.saved_time | amTimeAgo}}</td>
                                    <td *ngIf="userCanUnpublish">
                                        <glt-action-button bsClass="btn btn-outline-danger"
                                                           [action]="makeUnpublishAction(expt.experiment_id)">
                                            Unpublish
                                        </glt-action-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-tab>
    
                <ngb-tab title="Map"
                         id="expt-map">
                    <ng-template ngbTabContent>
                        <div leaflet style="height: 50vh;"
                             [leafletOptions]="mapOptions"
                             [leafletBaseLayers]="baseLayers"
                             [leafletLayers]="exptLayers"
                             (leafletMapReady)="onMapReady($event)">
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>   
</div>
