<div [formGroup]="measurementModel"
     class="card my-1">
    <div class="card-body py-2">
        <div class="row">
            <div class="col-sm-3 form-group">
                <label for="mm-variable">Variable</label>
                <glt-vocab-term-input inputId="mm-variable"
                                      vocabulary="Variables"
                                      [model]="measurementModel.get('variable')">
                    <glt-form-help>
                        Either start typing and select a recommended variable name from the list e.g. <i>grain yield trait</i>, or enter a meaningful name.
                    </glt-form-help>
                </glt-vocab-term-input>
            </div>
            <div class="col-sm-2 form-group">
                <label for="mm-units">Units</label>
                <glt-vocab-term-input inputId="mm-units"
                                      vocabulary="Units"
                                      [model]="measurementModel.get('unit')">
                                    <glt-form-help>
                                        Start typing and select a the measurement units for the variable.
                                    </glt-form-help>
                </glt-vocab-term-input>
            </div>
            <div class="col-sm-3 form-group">
                <label for="mm-freq">Collection frequency</label>
                <input class="form-control"
                       id="mm-freq"
                       type="text"
                       formControlName="collectionFrequency">
                       <glt-form-help>
                        State how often the variable is measured, e.g. annually
                    </glt-form-help>
            </div>
            <div class="col-sm form-group">
                <label for="mm-crop">Material</label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary dropdown-toggle"
                            id="cm-crop"
                            type="button"
                            ngbDropdownToggle>
                        {{ materialLabel }}
                    </button>
                    <div class="dropdown-menu"
                         ngbDropdownMenu>
                        <button ngbDropdownItem
                                *ngFor="let mat of selectableMaterials"
                                (click)="setMaterial(mat.id)">
                            {{ mat.name }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>
            <!--
            <div class="col-sm form-group">
                <label for="mm-scale">Scale</label>
                <input class="form-control"
                       id="mm-scale"
                       type="text"
                       formControlName="scale">
            </div>-->

        <div class="row">
            <div class="col-sm form-group">
                <label for="mm-comment">Comment</label>
                <input class="form-control"
                       id="mm-comment"
                       type="text"
                       formControlName="comment">
                       <glt-form-help>
                        Provide any other details about this measurment variable
                    </glt-form-help>
            </div>
        </div>

    </div>
</div>
