<glt-header></glt-header>

<div class="container">

    <form>
        <div class="input-group mb-4">
            <input type="text"
                   class="form-control"
                   placeholder="Search experiments, e.g. 'wheat', 'no-till', 'luvisol'"
                   [formControl]="exptSearchControl" />
            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-outline-secondary rounded-right"
                        (click)="exptSearchClicked($event)">
                    Search
                </button>
            </div>
            <div class="search-feedback"
                 [ngClass]="{'hidden': !wasQuery}">
                Search matched {{ total_matches }} of {{ total_experiments }} experiments.
            </div>
        </div>
    </form>

    <div *ngIf="err" style="color: red">
        {{ err.message }}
    </div>

    <glt-loading *ngIf="!err && !experiments">
    </glt-loading>

    <div *ngIf="!err && experiments">
        <!-- We chose to keep the non-active tabs around in this case, to avoid churning
             Leaflet objects -->

        <ngb-tabset [destroyOnHide]="false"
                    activeId="expt-map">
            <ngb-tab title="List"
                     id="expt-list">
                <ng-template ngbTabContent>
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Name</th>
                            <th>Last edited</th>
                            <th *ngIf="userCanUnpublish">Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expt of experiments">
                                <td>
                                    <a routerLink="/experiments/{{expt.experiment_id}}">
                                        {{expt.name}}
                                    </a>
                                </td>
                                <td>{{expt.saved_time | amTimeAgo}}</td>
                                <td *ngIf="userCanUnpublish">
                                    <glt-action-button bsClass="btn btn-outline-danger"
                                                       [action]="makeUnpublishAction(expt.experiment_id)">
                                        Unpublish
                                    </glt-action-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Map"
                     id="expt-map">
                <ng-template ngbTabContent>
                    <div leaflet style="height: 80vh;"
                         [leafletOptions]="mapOptions"
                         [leafletBaseLayers]="baseLayers"
                         [leafletLayers]="exptLayers"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>