<div [formGroup]="combinationModel"
     class="card my-1">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm">
                <label for="c-name">Factor Level Combination Name</label>
                <input class="form-control"
                       id="c-name"
                       type="text"
                       formControlName="name">
                    <glt-form-help>
                        Enter a meaningful name for this factor level combination. 
                    </glt-form-help>
            </div>

            <ng-container formGroupName="dates">
                <div class="col-sm-2 form-group">
                    <label for="c-start-year">Start year</label>
                    <input class="form-control"
                           id="c-start-year"
                           type="number"
                           formControlName="startYear" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="c-end-year">End year</label>
                    <input class="form-control"
                           id="c-end-year"
                           type="number"
                           formControlName="endYear"
                           glt-is-invalid />
                    <div class="invalid-feedback">
                        End must be later than start.
                    </div>
                </div>
            </ng-container>
            
            <div class="form-group col-sm-1 align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <label for="c-desc">Comment</label>
                <input class="form-control"
                       id="c-desc"
                       type="text"
                       formControlName="description">
                    <glt-form-help>
                        Add any additional information about the factor level combination here. 
                    </glt-form-help>
            </div>
        </div>

        <ng-container formArrayName="members">
            <div *ngFor="let member of members.controls; let i = index"
                 class="card mb-1">
                <div class="card-body pt-1 pb-1 m-0"
                     [formGroup]="member">
                    <div class="row">
                        <div class="col-sm form-group">
                            <label for="cm-factor">Factor</label>
                            <div ngbDropdown>
                                <button class="btn btn-outline-primary dropdown-toggle"
                                        id="cm-factor"
                                        type="button"
                                        ngbDropdownToggle>
                                    {{ factorLabelForMember(member) }}
                                </button>
                                <div class="dropdown-menu"
                                     ngbDropdownMenu>
                                    <button ngbDropdownItem
                                            *ngFor="let factor of selectableFactors"
                                            (click)="setFactorForMember(member, factor.id)">
                                        {{ factor.name }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm form-group">
                            <label for="cm-factor-level">Level</label>
                            <div ngbDropdown>
                                <button class="btn btn-outline-primary dropdown-toggle"
                                        id="cm-factor-level"
                                        type="button"
                                        ngbDropdownToggle>
                                    {{ factorLevelLabelForMember(member) }}
                                </button>
                                <div class="dropdown-menu"
                                     ngbDropdownMenu>
                                    <button ngbDropdownItem
                                            *ngFor="let level of selectableLevelsForMember(member)"
                                            (click)="setLevelForMember(member, level.id)">
                                        {{ level.name }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-sm form-group">
                            <label for="cm-crop">Applied to crop</label>
                            <div ngbDropdown>
                                <button class="btn btn-outline-primary dropdown-toggle"
                                        id="cm-crop"
                                        type="button"
                                        ngbDropdownToggle>
                                    {{ cropLabelForMember(member) }}
                                </button>
                                <div class="dropdown-menu"
                                     ngbDropdownMenu>
                                    <button ngbDropdownItem
                                            *ngFor="let crop of selectableCrops"
                                            (click)="setCropForMember(member, crop.id)">
                                        {{ crop.name }}
                                    </button>
                                </div>
                            </div>
                        </div>-->
                        <!--
                        <div class="col-sm form-group">
                            <label for="cm-amount">Amount</label>
                            <input class="form-control"
                                   id="cm-amount"
                                   type="text"
                                   formControlName="amount">
                        </div>

                        <div class="col-sm form-group">
                            <label for="cm-units">Units</label>
                            <glt-vocab-term-input inputId="cm-units"
                                                  vocabulary="Units"
                                                  [model]="member.get('amountUnit')">
                            </glt-vocab-term-input>
                        </div>
                        -->
                        <div class="form-group col-sm align-self-end">
                        <!--<div class="col-sm-2 align-self-end">-->
                            <button type="button" 
                                    class="btn btn-outline-danger"
                                    (click)="removeMember(i)">
                                Delete
                            </button>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-sm form-group">
                            <label for="cm-comment">Comment</label>
                            <input class="form-control"
                                   id="cm-comment"
                                   type="text"
                                   formControlName="comment">
                        </div>
                    </div>-->
                </div>
            </div>

            <button class="btn btn-link"
                    (click)="addMember()">
                <fa name="plus"></fa> Add another factor
            </button>
        </ng-container>
    </div>
</div>