{% extends 'base.html' %}

{% block content %}

<div style="height: 100%; display: flex">
<div class="card" style="width: 50%; margin: auto">
    <div class="card-header">
        <h3>Login</h3>
    </div>

    <div class="card-body">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.username.id_for_label}}">{{ form.username.label_tag }}</label>
                <input type="text"
                       class="form-control"
                       id={{form.username.id_for_label}}
                       name={{form.username.html_name}}>
            </div>
            <div class="form-group">
                <label for="{{form.password.id_for_label}}">{{ form.password.label_tag }}</label>
                <input type="password"
                       class="form-control"
                       id={{form.password.id_for_label}}
                       name={{form.password.html_name}}>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a style="float: right" href="/accounts/password_reset/">Forgotten your password?</a>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <p>
            If you don't have an account and want to curate an experiment in GLTEN, e-mail
            <a href="mailto:glten@rothamsted.ac.uk">glten@rothamsted.ac.uk</a>.
        </p>
    </div>
</div>
</div>

{% endblock %}