
{% extends 'base.html' %}

{% block content %}

<div style="height: 100%; display: flex">
<div class="card" style="width: 50%; margin: auto">
    <div class="card-header">
        <h3>Reset password</h3>
    </div>

    <div class="card-body">
        <p>
            Your password has been set. You may go ahead and log in now.
        </p>

        <p>
            <a href="/accounts/login">Log in</a>
        </p>
    </div>
</div>
</div>

{% endblock %}

