
{% extends 'base.html' %}

{% block content %}

<div style="height: 100%; display: flex">
<div class="card" style="width: 50%; margin: auto">
    <div class="card-header">
        <h3>Reset password</h3>
    </div>

    <div class="card-body">
        <p>
            Forgotten your password? Enter your e-mail address below, and we’ll e-mail instructions for setting a new one.
        </p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.email.id_for_label}}">{{ form.email.label_tag }}</label>
                <input type="text"
                       class="form-control"
                       id={{form.email.id_for_label}}
                       name={{form.email.html_name}}>
            </div>

            <button type="submit" class="btn btn-primary">Request reset</button>
        </form>
    </div>
</div>
</div>

{% endblock %}

