
{% extends 'base.html' %}

{% block content %}

<div style="height: 100%; display: flex">
<div class="card" style="width: 50%; margin: auto">
    <div class="card-header">
        <h3>Reset password</h3>
    </div>

    <div class="card-body">
        <p>
            We’ve e-mailed you instructions for setting your password,
            if an account exists with the email you entered. You should receive them shortly.
        </p>

        <p>
            If you don’t receive an e-mail, please make sure you’ve entered the address you
            registered with, and check your spam folder.
        </p>
    </div>
</div>
</div>

{% endblock %}

