
{% extends 'base.html' %}

{% block content %}

<div style="height: 100%; display: flex">
<div class="card" style="width: 50%; margin: auto">
    <div class="card-header">
        <h3>Reset password</h3>
    </div>

    <div class="card-body">
        {% if validlink %}
            <p>
                Please enter a new password
            </p>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{form.new_password1.id_for_label}}">{{ form.new_password1.label_tag }}</label>
                    <input type="password"
                           class="form-control"
                           id={{form.new_password1.id_for_label}}
                           name={{form.new_password1.html_name}}>
                </div>
                <div class="form-group">
                    <label for="{{form.new_password2.id_for_label}}">{{ form.new_password2.label_tag }}</label>
                    <input type="password"
                           class="form-control"
                           id={{form.new_password2.id_for_label}}
                           name={{form.new_password2.html_name}}>
                </div>

                <button type="submit" class="btn btn-primary">Request reset</button>
            </form>
        {% else %}
            The password reset link was invalid, possibly because it has already been used. Please <a href="/accounts/password_reset">request a new password reset.</a>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}

