
{% extends 'base.html' %}

{% block content %}


<div class="card" style="width: 70%; margin: auto">
    <div class="card-header">
        <h3>Change user profile</h3>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Request update</button>
        </form>
    </div>
</div>

{% endblock %}

