<div [formGroup]="cropModel">
    <!--<div [formGroup]="cropModel" class="card mb-4">-->
    <!--<div class="card-body">-->
        <div class="row">
            <div class="form-group col-sm">
                <!--<label for="crop-term">Crop species or cultivar</label>-->
                <glt-vocab-term-input inputId="crop-term"
                                      vocabulary="Crops"
                                      [model]="cropModel.get('crop')"
									  termDescriptions="true">
                </glt-vocab-term-input>
            </div>
            <!--
            <ng-container formGroupName="dates">
                <div class="col-sm form-group">
                    <label for="expt-start-year">Start year</label>
                    <input class="form-control"
                           id="expt-start-year"
                           type="number"
                           formControlName="startYear" />
                </div>
                <div class="col-sm form-group">
                    <label for="expt-end-year">End year</label>
                    <input class="form-control"
                           id="expt-end-year"
                           type="number"
                           formControlName="endYear"
                           glt-is-invalid />
                    <div class="invalid-feedback">
                        End must be later than start.
                    </div>
                </div>
            </ng-container>
            -->
            <div class="col-sm-1 text-center">
                <button type="button" 
                        class="btn btn-outline-danger "
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>
    <!--</div>-->
</div>
