<glt-header></glt-header>

<div class="container">
    <div class="approval-panel">
        <form [formGroup]="model">
            <div class="form-group">
                <div class="col-sm">
                    <textarea class="form-control"
                              id="reviewer-comment"
                              lines="4"
                              formControlName="comment"
                              placeholder="Comments to author, if rejecting"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm">
                    <glt-action-button bsClass="btn btn-outline-secondary"
                                       [action]="approve">
                        Approve publication
                    </glt-action-button>
                    &nbsp;
                    <glt-action-button bsClass="btn btn-outline-danger"
                                       [action]="reject"
                                       [disabled]="model.invalid">
                        Reject publication
                    </glt-action-button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="desc" class="preview-holder">
        <div class="preview-viewport">
            <div style="width: 95%">
                <glt-experiment-desc-view [expt]="desc"
                                          [experimentId]="currentExperiment">
                </glt-experiment-desc-view>
            </div>
        </div>

        <div class="preview-overlay">
            <div class="preview-overlay-text">DRAFT</div>
        </div>
    </div>

</div>
