.container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div.approval-panel {
     flex: 0 0;
     padding-bottom: 0.5rem;
     border-bottom: 1px solid #ddd;
}

div.preview-holder {
    flex: 1 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

div.preview-viewport {
    position: absolute;
    flex: 1 1;
    height: 100%;
    overflow-y: scroll;
}

div.preview-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 500;  /* Needed to be high, otherwise overlap ends up underneath leaflet-based map components, but also
                      want this less than leaflet's popups (z-index=700) */
}

div.preview-overlay-text {
    font-size: 90pt;
    opacity: 0.35;
    transform: rotate(-45deg);
}