<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #f3f3f3">
  <a class="navbar-brand" routerLink="/">
    <img width="47" height="40" 
         src="assets/logo.x1.png"
         srcset="assets/logo.x1.png 1x,
                 assets/logo.x2.png 2x">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/experiments">Long-term Experiments</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li *ngIf="currentUser && currentUser.username" class="nav-item">
        <a class="nav-link" routerLink="/my-experiments">Manage your LTEs</a>
      </li>
      <li *ngIf="currentUser && currentUser.is_publisher" class="nav-item">
        <a class="nav-link" routerLink="/review-requests">Review</a>
      </li>
      <li *ngIf="currentUser && currentUser.is_account_manager" class="nav-item">
        <a class="nav-link" href="/admin/">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gltenhelp.readthedocs.io/" target="_blank">Help</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <ng-content></ng-content>
      <ng-container *ngIf="currentUser && currentUser.username">
        <li class="nav-item"
            ngbDropdown
            placement="bottom-right"
            display="dynamic">
            <button class="nav-link btn-link" 
                    ngbDropdownToggle>
                {{currentUser.username}}
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
                <a class="dropdown-item"
                   href="/accounts/user-change/">
                    Edit profile
                </a>
                <a class="dropdown-item"
                   href="/accounts/logout/">
                    Logout
                </a>
            </div>
        </li>
      </ng-container>
      <ng-container *ngIf="currentUser && !(currentUser.username)">
        <li class="nav-item">
            <a class="nav-link"
               href="/accounts/login/">
                Login
            </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
