<div [formGroup]="factorModel"
     class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm">
                <label for="factor-term">Factor name</label>
                <glt-vocab-term-input inputId="factor-term"
                                      vocabulary="Factors"
                                      [model]="factorModel.get('factor')">
                    <glt-form-help>
                        Start typing the name of a factor and select the most apporpriate term from the options provided.  
                    </glt-form-help>
                </glt-vocab-term-input>                
            </div>

            <div class="form-group col-sm-1 text-center align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <label for="factor-desc">Description</label>
                <input type="text"
                       class="form-control"
                       id="factor-desc"
                       formControlName="description">
                    <glt-form-help>
                        Provide a brief description of the factor. This field is optional.
                    </glt-form-help>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm form-group">
                <label for="factor-plotapp">Plot application</label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary dropdown-toggle"
                            type="button"
                            id="factor-plotapp"
                            ngbDropdownToggle>
                        {{ plotApplicationLabel }}    
                    </button>
                    <div class="dropdown-menu" 
                         ngbDropdownMenu>
                        <button ngbDropdownItem
                                *ngFor="let app of plotApplicationValues"
                                (click)="setPlotApplication(app)">
                            {{ app }}
                        </button>
                    </div>
                </div>
            </div>            
            <div class="col-sm form-group">
                <label for="factor-effect">Effect</label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary dropdown-toggle"
                            type="button"
                            id="factor-effect"
                            ngbDropdownToggle>
                        {{ effectLabel }}
                    </button>
                    <div class="dropdown-menu" 
                         ngbDropdownMenu>
                        <button ngbDropdownItem
                                *ngFor="let eff of effectValues"
                                (click)="setEffect(eff)">
                            {{ eff || 'Not specified'}}
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
        -->
        <ng-container formArrayName="levels">
            <div *ngFor="let level of levels.controls; let i = index">
                <glt-factor-level-editor [levelModel]="level"
                                         [cropModels]="cropModels"
                                         (onRemove)="removeLevel(i)">
                </glt-factor-level-editor>
            </div>
            <button class="btn btn-link"
                    (click)="addLevel()">
                <fa name="plus"></fa> Add another level, amount, or category
            </button>
        </ng-container>
    </div>
</div>

