<glt-header></glt-header>

<div class="container">
    <div *ngIf="err" style="color: red">
        {{ err.message }}
    </div>

    <div *ngIf="!err && requests">
        <table class="table table-striped table-hover">
            <thead>
                <th>Name</th>
                <th>Submitted for review</th>
                <th>Review</th>
            </thead>
            <tbody>
                <tr *ngFor="let request of requests">
                    <td>{{ request.experiment_desc?.name }}</td>
                    <td>{{ request.request_time | amTimeAgo }}</td>
                    <td>
                        <a routerLink="/review-requests/{{ request.experiment_id }}">Review</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
