<div>
    <div [formGroup]="siteModel">
        <h3 class="mt-4">Site description</h3>
        <div class="form-group"> 
            <label for="site-name">LTE Site Name</label>
            <input class="form-control"
                   glt-is-invalid
                   id="site-name"
                   type="text"
                   formControlName="name" />
            <div class="invalid-feedback">
                You must specify a name.
            </div>
            <glt-form-help>
                This is the name of the LTE site 
            </glt-form-help>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <label for="site-localcode">Local site code</label>
                <input class="form-control"
                       id="site-localcode"
                       type="text"
                       formControlName="localCode" />
                <glt-form-help>
                    This is an optional local code or identifier used for the site. 
                </glt-form-help>
            </div>

            <div class="form-group col-sm">
                <label for="site-type">Site type</label>
                <glt-vocab-term-input inputId="site-type"
                                      vocabulary="Site Types"
                                      [model]="siteModel.get('type')"
                                      [altMenu]="true">
                    <glt-form-help>
                        Select an option from the drop down list to indicate the type of site. This is an optional field.
                    </glt-form-help>                                      
                </glt-vocab-term-input>                
            </div>
        </div>

        <!-- Hidden for now, can be reinstated if needed in future

        <div class="row">
            <div class="form-group col-sm">
                <label for="site-geonames">Geonames ID</label>
                <input class="form-control"
                       id="site-geonames"
                       type="text"
                       formControlName="geonamesID" />
            </div>

            <div class="form-group col-sm">
                <label for="site-doi">Site DOI</label>
                <input class="form-control"
                       id="site-doi"
                       type="text"
                       formControlName="doi" />
            </div>
        </div>

        -->

        <div class="row">
             <div class="form-group col-sm">
                <label for="site-locality">Site locality</label>
                <input class="form-control"
                       id="site-locality"
                       type="text"
                       formControlName="locality" />
                <glt-form-help>
                    For example the nearest population center. This is a recommended field.
                </glt-form-help>                       
            </div>

            <div class="form-group col-sm">
                <label for="site-region">Region</label>
                <input class="form-control"
                       id="site-region"
                       type="text"
                       formControlName="region" />
                       <glt-form-help>
                        For example the province, couty or administrative region. This is a recommended field.
                    </glt-form-help>   
            </div>

            <div class="form-group col-sm">
                <label for="site-country">Country</label>
                <input class="form-control"
                       id="site-country"
                       type="text"
                       formControlName="country" />
                       <glt-form-help>
                        This is a recommended field.
                    </glt-form-help>
            </div>
        </div>
        <glt-site-location-editor [centroidModel]="siteModel.get('centroid')">
        </glt-site-location-editor>
        <div class="row"
             formGroupName="centroid">
            <div class="form-group col-sm">
                <label for="site-region">Site Latitude (Decimals Degrees)</label>
                <input class="form-control"
                       id="site-region"
                       type="number"
                       glt-is-invalid
                       formControlName="latitude" />
                <div class="invalid-feedback">
                    Required.
                </div>  
            </div>

            <div class="form-group col-sm">
                <label for="site-longitude">Site Longitude (Decimals Degrees)</label>
                <input class="form-control"
                       id="site-longitude"
                       type="number"
                       glt-is-invalid
                       formControlName="longitude" />
                <div class="invalid-feedback">
                    Required.
                </div>  
            </div>
        </div>

        

        <div class="row">
            <ng-container formGroupName="elevation">
                <div class="form-group col-sm">
                    <label for="site-elevation">Site Elevation</label>
                    <input class="form-control"
                           id="site-elevation"
                           type="number"
                           formControlName="value" />
                           <glt-form-help>
                            The site elevation above sea level. This is an optional field.
                        </glt-form-help>
                </div>

                <div class="form-group col-sm">
                    <label for="site-elevation-unit">Units</label>
                    <div ngbDropdown>
                        <button class="btn btn-outline-primary dropdown-toggle"
                                id="site-elevation-unit"
                                type="button"
                                ngbDropdownToggle>
                            {{ elevationUnitLabel }}
                        </button>
                        <div class="dropdown-menu" 
                             ngbDropdownMenu>
                            <button ngbDropdownItem
                                    *ngFor="let unit of elevationUnitValues"
                                    (click)="setElevationUnit(unit)">
                                {{ unit }}
                            </button>
                        </div>
                        <div class="invalid-feedback"
                             [ngStyle]="{'display': elevationUnitControl.invalid ? 'block' : 'none'}">
                            Required
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="form-group col-sm">
                <label for="site-slope">Site slope (degrees?)</label>
                <input class="form-control"
                       id="site-slope"
                       type="number"
                       formControlName="slope" />
                       <glt-form-help>
                        The slope or gradient of the LTE field site. This is an optional field.
                    </glt-form-help>
            </div>

            <div class="form-group col-sm">
                <label for="site-aspect">Site aspect</label>
                <input class="form-control"
                       id="site-aspect"
                       type="text"
                       formControlName="slopeAspect" />
                       <glt-form-help>
                        The aspect, i.e. the compass direction that a slope faces, of the LTE field site. This is an optional field.
                    </glt-form-help>
            </div>
        </div>

        <div class="form-group col-sm-2">
            <label for="site-visits">Visits allowed?</label>
            <input class="form-control"
                   id="site-visits"
                   type="checkbox"
                   formControlName="visitsAllowed" />
            <glt-form-help>
                Can researchers visit the LTE site? This is an optional field.
            </glt-form-help>
        </div>

        <div class="form-group">
            <label for="site-visit-arr">Visiting arrangments</label>
            <textarea class="form-control"
                      id="site-visit-arr"
                      lines="4"
                      formControlName="visitingArrangements">
            </textarea>
            <glt-form-help>
                If researchers can visit the LTE site, use this box to provide details for visiting arrangements. This is an optional field.
            </glt-form-help>
        </div>

        <div class="form-group">
            <label for="site-history">Site history</label>
            <textarea class="form-control"
                      id="site-history"
                      lines="4"
                      formControlName="history">
            </textarea>
            <glt-form-help>
                Use this text box to provide information about the history of the LTE site, for example previous land use. This is an optional field.
            </glt-form-help>
        </div>

        <div class="form-group">
            <label for="site-management">Site management</label>
            <textarea class="form-control"
                      id="site-management"
                      lines="4"
                      formControlName="management">
            </textarea>
            <glt-form-help>
                Use this text box to provide information about LTE site management. 
                For example, is the LTE site farmed organically or conventionally; is minium tillage standard across all plots?
                This is an optional field.
            </glt-form-help>
        </div>

        <h3>Soil information</h3>

        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                This section lets you provide detailed information about the LTE site's soil. Use the soil description textbox to 
                give a brief summary of your soil, however, it is recommended that you use the Soil Properties to add information
                about measured physical and chemical properties such as sand content, clay content, pH, SOC etc.
            </div>
        </div>

        <div class="form-group">
            <label for="site-soil-type">World Reference Base dominant soil type</label>
            <glt-vocab-term-input inputId="site-soil-type"
                                  vocabulary="Soil Types" 
                                  [model]="siteModel.get('soilType')"
                                  termDescriptions="true">
                <glt-form-help>
                    Start typing then select a soil classification from the recommended list. If the WRB soil type is not known select the <i>unknown</i> option.
                </glt-form-help>    
            </glt-vocab-term-input>
        </div>

        <div class="form-group">
            <label for="site-soil-desc">Soil description</label>
            <textarea class="form-control"
                      id="site-soil-desc"
                      lines="4"
                      formControlName="soilDescription">                      
            </textarea>
            <glt-form-help>
                Provide a description of the soil. This field is optional.
            </glt-form-help>
        </div>

        <h4>Soil Properties</h4>

        <div formArrayName="soilProps">
            <div *ngFor="let prop of soilProps.controls; let i = index">
                <glt-soil-property-editor [model]="prop"
                                          (onRemove)="removeSoilProp(i)">
                </glt-soil-property-editor>
            </div>

            <button class="btn btn-primary"
                    (click)="addSoilProp()">
                <fa name="plus"></fa> Add another property
            </button>
        </div>

        <h3>Climate information</h3>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                This section lets you provide detailed information about the climate for the LTE site. Use the climate description textbox to 
                give a brief summary of the climate, however, it is recommended that you use the Climate Properties to add information
                about measured properties such as annual temperature, precipitation etc.
            </div>
        </div>
        <div class="form-group">
            <label for="site-climate-type">Köppen climate classification</label>
            <glt-vocab-term-input inputId="site-climate-type"
                                  vocabulary="Climatic Types"
                                  [model]="siteModel.get('climaticType')"
                                  termDescriptions="true">
                <glt-form-help>
                    Select a climate classification or the <i>unknown</i> option.
                </glt-form-help>
            </glt-vocab-term-input>
        </div>

        <div class="form-group">
            <label for="site-soil-desc">Climate description</label>
            <textarea class="form-control"
                      id="site-climate-desc"
                      lines="4"
                      formControlName="climateDescription">
            </textarea>
            <glt-form-help>
                Provide a description of the climate. This field is optional.
            </glt-form-help>
        </div>

        <h4>Climate Properties</h4>
        
        <div formArrayName="climateProps">
            <div *ngFor="let prop of climateProps.controls; let i = index">
                <glt-climate-property-editor [model]="prop"
                                             (onRemove)="removeClimateProp(i)">
                </glt-climate-property-editor>
            </div>

            <button class="btn btn-primary"
                    (click)="addClimateProp()">
                <fa name="plus"></fa> Add another property
            </button>
        </div>
    </div>
</div>