<glt-header></glt-header>

<div class="container">
    <div *ngIf="err" style="color: red">
        {{ err.message }}
    </div>

    <div *ngIf="!err && !experiments">
        <glt-loading></glt-loading>
    </div>

    <div *ngIf="!err && experiments">
        <table class="table table-striped table-hover">
            <thead>
                <th>Name</th>
                <th>Last edited</th>
                <th>Edit</th>
                <th>Published?</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let expt of experiments">
                    <td>{{expt.latest_desc?.name}}</td>
                    <td>
                        <span *ngIf="expt.latest_desc?.saved_time">
                            {{expt.latest_desc?.saved_time | amTimeAgo}}
                        </span>
                        <span *ngIf="!expt.latest_desc?.saved_time">
                            Not saved
                        </span>
                    </td>
                    <td>
                        <a routerLink="/my-experiments/{{expt.id}}/edit">
                            Edit
                        </a>
                    </td>
                    <td>
                        <div *ngIf="!expt.published">
                            Not published
                        </div>
                        <div *ngIf="expt.published">
                            {{expt.published.saved_time | amTimeAgo}}
                            <div *ngIf="expt.published.id !== expt.latest_desc.id"
                                 style="color: red; font-size: 80%">
                                (Published version is not latest)
                            </div>
                        </div>
                        <div *ngIf="expt.latest_request?.request_status == 'Pending'">
                            Publication request pending
                        </div>
                        <div *ngIf="expt.latest_request?.request_status == 'Rejected'">
                            Publication request rejected
                            <button class="btn btn-link"
                                    [ngbPopover]="expt.latest_request?.comment"
                                    placement="bottom"
                                    popoverTitle="Reviewer's comments">
                                Why?
                            </button>
                        </div>
                    </td>
                    <td>
                        <glt-action-button *ngIf="!expt.published"
                                           bsClass="btn btn-outline-danger"
                                           [action]="makeDeleteAction(expt.id)">
                            Delete
                        </glt-action-button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-outline-secondary" 
                (click)="createExperiment()">
            <fa name="plus"></fa> New experiment
        </button>
    </div>
</div>