<div [formGroup]="literatureModel" class="card mb-2">
    <div class="card-body py-0">
        <div class="row">
            <div class="form-group col-sm-10">
                <label for="lit-title">Title</label>
                <input type="text"
                       class="form-control"
                       id="lit-title" 
                       formControlName="title"
                       glt-is-invalid>
                <div class="invalid-feedback">
                    You must specify a title.
                </div>
            </div>
            <div class="form-group col-sm-2 text-center align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label for="lit-doi">DOI or URL</label>
                <input type="text"
                       class="form-control"
                       id="lit-doi" 
                       formControlName="doi"
                       glt-is-invalid>
                    <div class="invalid-feedback">
                        You must provide a DOI or URL.
                    </div>
                       <glt-form-help>
                           Provide the DOI, e.g. https://doi.org/10.23637/ex4-oadata-001-01, or URL (web address) for the resource. 
                       </glt-form-help>
            </div>
            <div class="form-group col-sm-4">
                <label for="lit-lang">Language</label>
                <input type="text"
                       class="form-control"
                       id="lit-lang" 
                       formControlName="language">
                    <glt-form-help>
                        Give the language for the resource. 
                    </glt-form-help>
            </div>
        </div>
    </div>
</div>