<div [formGroup]="levelModel"
     class="card my-1">
    <div class="card-body pt-1 pb-1">
        <div class="row">
            <div class="form-group col-sm">
                <label for="level-term">Factor level name</label>
                <glt-vocab-term-input inputId="level-term"
                                      vocabulary="Factor Levels"
                                      [model]="levelModel.get('factorVariant')">
                    <glt-form-help>
                        Either start typing and select a recommended factor level name from the list e.g. <i>Nitrogen</i>, or enter a meaningful factor level label e.g. <i>N rate 1</i>.
                    </glt-form-help>
                </glt-vocab-term-input>
            </div>

            <div class="form-group col-sm-1 align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label for="level-amount">Amount</label>
                <input class="form-control"
                       id="level-amount"
                       type="text"
                       formControlName="amount">
                <glt-form-help>
                    The amount of material added for the factor level.
                </glt-form-help>
            </div>

            <div class="form-group col-sm">
                <label for="level-amount-unit">Units</label>
                <glt-vocab-term-input inputId="level-amount-unit"
                                      vocabulary="Units"
                                      [model]="levelModel.get('amountUnit')">
                    <glt-form-help>
                        The amount units, start typing and select from the recommended list. 
                    </glt-form-help>
                </glt-vocab-term-input>
            </div>

            <div class="form-group col-sm">
                <label for="level-app-method">Application method</label>
                <glt-vocab-term-input inputId="level-app-method"
                                      vocabulary="Application Methods"
                                      [model]="levelModel.get('applicationMethod')">
                    <glt-form-help>
                        The amount units, start typing and select from the recommended list. 
                    </glt-form-help>
                </glt-vocab-term-input>
            </div>
            <div class="form-group col-sm">
                <label for="level-chem-form">Chemical form</label>
                <glt-vocab-term-input inputId="level-chem-form"
                                      vocabulary="Substance"
                                      [model]="levelModel.get('chemicalForm')">
                    <glt-form-help>
                        The chemical form, start typing and select from the recommended list. 
                    </glt-form-help>
                </glt-vocab-term-input>
            </div>            
        </div>

        <div class="row">
            <ng-container formGroupName="dates">
                <div class="col-sm-2 form-group">
                    <label for="level-start-year">Start year</label>
                    <input class="form-control"
                           id="level-start-year"
                           type="number"
                           formControlName="startYear" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="level-end-year">End year</label>
                    <input class="form-control"
                           id="level-end-year"
                           type="number"
                           formControlName="endYear"
                           glt-is-invalid />
                    <div class="invalid-feedback">
                        End must be later than start.
                    </div>
                </div>
            </ng-container>
            <div class="col-sm form-group">
                <label for="level-freq">Application frequency</label>
                <input class="form-control"
                       id="level-freq"
                       type="text"
                       formControlName="applicationFrequency">
            </div>
            <div class="col-sm form-group">
                <label for="cm-crop">Applied to crop</label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary dropdown-toggle"
                            id="cm-crop"
                            type="button"
                            ngbDropdownToggle>
                        {{ cropLabel }}
                    </button>
                    <div class="dropdown-menu"
                         ngbDropdownMenu>
                        <button ngbDropdownItem
                                *ngFor="let crop of selectableCrops"
                                (click)="setCrop(crop.id)">
                            {{ crop.name }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            
        </div>-->

        <div class="row">
            <div class="form-group col-sm">
                <label for="level-note">Comment</label>
                <input class="form-control"
                       id="level-note"
                       type="text"
                       formControlName="note">
                       <glt-form-help>
                        Provide any other relevant information about this factor level here.
                    </glt-form-help>
            </div>
        </div>
    </div>
</div>
