.vocab-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dd7711;
}

.hidden {
    display: none;
}

.match-normal {

}

.match-highlight {
    font-weight: bold;
}