<div class="input-group">
    <!--
    Removed this to free up some real estate
        <div class="input-group-prepend">
        <span class="input-group-text">
            {{ termID || '?' }}
        </span>
    </div>-->
    <input #vocabInput
           [id]="inputId"
           type="text"
           glt-is-invalid
           class="form-control"
           [formControl]="model"
           [ngbTypeahead]="search" 
           [inputFormatter]="formatInput"
           [resultTemplate]="vocabResultTemplate"
           (selectItem)="selectItem($event)" /> 
    <div *ngIf="altMenu" class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle rounded-right"
                (click)="openAltMenu()">
        </button>
    </div>
    
    <!-- don't want this to appear for everything so commenting out for now-->
    <!--<div class="vocab-feedback"
         [ngClass]="{'hidden': !!termID}">
        <!--If possible, use a term from {{ vocabulary }}.-->
        <!--If possible use a vocabulary term
    </div>-->
    
    <!-- Inject extra content here, if applicable.  This is primarily useful to making focus-specific
         help boxes work -->
    <ng-content></ng-content>
</div>

<ng-template #vocabResultTemplate let-result="result" let->
    {{result.term.name}}
    <div style="font-size: 80%">
        <span *ngFor="let matchSpan of getMatch(result)"
              [ngClass]="matchSpan.clazz">
            {{ matchSpan.text }}
        </span>
    </div>
</ng-template>