<h3>
    Design period: 
    {{ period.name }}
    <span *ngIf="period.start_year || period.end_year"> ({{period.start_year || '????'}}&mdash;{{period.end_year || ''}})</span>
</h3>

<dl class="row">
    <ng-container *ngIf="period.design_type_label || period.design_type_term">
        <dt class="col-sm-3">Design Type</dt>
        <dd class="col-sm-9">
            {{ period.design_type_label || period.design_type_term }}
        </dd>
    </ng-container>

    <ng-container *ngIf="period.description">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">{{ period.description }}</dd>
    </ng-container>

    <ng-container *ngIf="period.design_description">
        <dt class="col-sm-3">Design description</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">{{ period.design_description }}</dd>
    </ng-container>

    <ng-container *ngIf="isNumber(period.number_of_blocks)">
        <dt class="col-sm-3">Number of blocks</dt>
        <dd class="col-sm-9">{{ period.number_of_blocks }}</dd>
    </ng-container>

    <ng-container *ngIf="isNumber(period.number_of_plots)">
        <dt class="col-sm-3">Number of plots</dt>
        <dd class="col-sm-9">{{ period.number_of_plots }}</dd>
    </ng-container>

    <ng-container *ngIf="isNumber(period.number_of_subplots)">
        <dt class="col-sm-3">Number of subplots</dt>
        <dd class="col-sm-9">{{ period.number_of_subplots }}</dd>
    </ng-container>

    <ng-container *ngIf="isNumber(period.number_of_replicates)">
        <dt class="col-sm-3">Number of replicates</dt>
        <dd class="col-sm-9">{{ period.number_of_replicates }}</dd>
    </ng-container>

    <ng-container *ngIf="isNumber(period.number_of_harvests_per_year)">
        <dt class="col-sm-3">Number of harvests per year</dt>
        <dd class="col-sm-9">{{ period.number_of_harvests_per_year }}</dd>
    </ng-container>

    <ng-container>
        <dt class="col-sm-3">
            {{period.crops.length == 1 ? 'Crop' : 'Crops'}}
        </dt>
        <dd class="col-sm-9">
            <table class="table table-compact">
                <thead>
                    <th>Crop</th>
                    <th>Years grown</th>
                </thead>
                <tbody>
                    <tr *ngFor="let crop of period.crops">
                        <td>{{ crop.crop_label }}</td>
                        <td>
                            <ng-container *ngIf="crop.start_year || crop.end_year">
                                {{ crop.start_year || ''}}&mdash;{{ crop.end_year }}
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </ng-container>

    <ng-container *ngIf="period.rotations.length > 0">
        <dt class="col-sm-3">
            {{period.rotations.length == 1 ? 'Crop Rotation' : 'Crop Rotations'}}
        </dt>
        <dd class="col-sm-9">
            <div class="card" *ngFor="let rotation of period.rotations">
                <div class="card-header">
                    {{rotation.name || 'Unnamed'}}
                    <ng-container *ngIf="rotation.start_year || rotation.end_year">
                        &nbsp;{{ rotation.start_year }}&mdash;{{ rotation.end_year }}
                    </ng-container>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let year of getRotationGroups(rotation.phases); let i = index"
                        class="list-group-item"
                        style="display: flex; flex-direction: row">
                        <div class="col-sm-1">
                            {{ i + 1 }}
                        </div>
                        <div class="col-sm-11">
                            <div *ngFor="let phase of year" class="row">
                                <div class="col-sm-3">
                                    {{ getCropName(phase.crop_id) }}
                                </div>
                                <div class="col-sm-9" style="font-style: italic">
                                    {{ phase.notes }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </dd>
    </ng-container>

    <ng-container *ngIf="period.factors && period.factors.length > 0">
        <dt class="col-sm-3">
            {{period.factors.length == 1 ? 'Factor' : 'Factors'}}
        </dt>
        <dd class="col-sm-9">
			<dl class="row">
				<dt class="col-sm-4">Factor name</dt>
				<dd class="col-sm-8">Factor levels</dd>
			</dl>
            <dl class="row">
                <ng-container *ngFor="let factor of period.factors">
                    <dt class="col-sm-4">{{factor.factor_label || factor.factor_term}}
						<div class="detail font-weight-normal">
							<div *ngIf="factor.description">
								{{factor.description}}
							</div>
							<div *ngIf="factor.plot_application">
								Plot application: {{factor.plot_application}}
							</div>
							<div *ngIf="factor.effect">
								Effect: {{factor.effect}} 
							</div>
						</div>
					</dt>
                    <dd class="col-sm-8">
                        <div *ngFor="let level of factor.levels" class="glt-list-section">
                            <h6>
                                {{ level.factor_variant_label || level.factor_variant_term }}
                                <span *ngIf="level.amount !== null || level.amount_unit_term || level.amount_unit_label">
                                    &nbsp;({{ level.amount !== null ? level.amount : '??' }} {{ level.amount_unit_term || level.amount_unit_label }})
                                </span>
                            </h6>
                            <div class="detail">
                                <div *ngIf="level.start_year || level.end_year">
                                    {{level.start_year}}&mdash;{{level.end_year}}
                                </div>
                                <div *ngIf="level.crop_id || level.all_crops">
                                    Applied to crop: {{ getCropName(level.crop_id, level.all_crops) }}
                                </div>
                                <div *ngIf="level.application_frequency">
                                    Application frequency: {{ level.application_frequency }}
                                </div>
                                <div *ngIf="level.application_method_term || level.application_method_label">
                                    Application method: {{ level.application_method_term || level.application_method_label }}
                                </div>
                                <div *ngIf="level.chemical_form_term || level.chemical_form_label">
                                    Chemical form: {{ level.chemical_form_term || level.chemical_form_label }}
                                </div>
                                <div *ngIf="level.note" style="font-style: italic;">
                                    {{ level.note }}
                                </div>
                            </div>
                        </div>
                    </dd>
                </ng-container>
            </dl>
        </dd>
    </ng-container>

    <ng-container *ngIf="period.factor_combinations && period.factor_combinations.length > 0">
        <dt class="col-sm-3">
            {{period.factor_combinations.length == 1 ? 'Factor combinations' : 'Factor combinations'}}
        </dt>
        <dd class="col-sm-9">
            <dl class="row">
                <ng-container *ngFor="let combination of period.factor_combinations">
                    <dt class="col-sm-4">
                        {{ combination.name || 'Unnamed'}}
                        <ng-container *ngIf="combination.start_year || combination.end_year">
                            &nbsp;{{ combination.start_year }}&mdash;{{ combination.end_year }}
                        </ng-container>
						<div class="detail">
							<div *ngIf="combination.description" style="font-style: italic;">
								{{ combination.description }}
							</div>
						</div>
                    </dt>
                    <dd class="col-sm-8">
                        <div *ngFor="let member of combination.members" class="glt-list-section">
                            <!--<h6>-->
                                {{ getFactorName(member.factor_id) }}: {{ getFactorLevelName(member.factor_level_id) }}
                            <!--    <span *ngIf="member.amount !== null || member.amount_unit_term || member.amount_unit_label">
                                    &nbsp;({{ member.amount !== null ? member.amount : '??' }} {{ member.amount_unit_term || member.amount_unit_label }})
                                </span>-->
                            <!--</h6>

                            <div class="detail">
                                <div *ngIf="member.comment" style="font-style: italic;">
                                    {{ member.comment }}
                                </div>
                                <div *ngIf="member.crop_id || member.all_crops">
                                    Applied to crop: {{ getCropName(member.crop_id, member.all_crops) }}
                                </div>
                            </div>-->
                        </div>
                        
                    </dd>

                </ng-container>
            </dl>
        </dd>
    </ng-container>

    <ng-container *ngIf="period.measurements && period.measurements.length > 0">
        <dt class="col-sm-3">
            {{ period.measurements.length == 1 ? 'Measurement' : 'Measurements' }}
        </dt>
        <dd class="col-sm-9">
            <table class="table table-compact">
                <thead>
                    <th>Variable</th>
                    <th>Material</th>
                    <th>Units</th>
                    <th>Frequency</th>
                    <th>Scale</th>
                    <th>Comment</th>
                </thead>
                <tbody>
                    <tr *ngFor="let measurement of period.measurements">
                        <td>{{ measurement.variable_label || measurement.variable_term }}</td>
                        <td>{{ getMaterialName(measurement.material, measurement.crop_id) }}</td>
                        <td>{{ measurement.unit_term || measurement.unit_label }}</td>
                        <td>{{ measurement.collection_frequency }}</td>
                        <td>{{ measurement.scale }}</td>
                        <td>{{ measurement.comment }}</td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </ng-container>
</dl>