.full-height-button {
    height: 100%;
}

glt-form-help {
    display: none;
}

input:focus ~ glt-form-help {
    display: block;
    width:100%;
}

textarea:focus ~ glt-form-help {
    display: block;
}

select:focus ~ glt-form-help {
    display: block;
}

.bg-info-light-20 {
    background-color: rgba(91, 192, 222, 0.1);
}
