<div>
    <div [formGroup]="phaseModel">
        <h3 class="mt-4">Design period</h3>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                <p>Use this section to describe the design of the LTE including the different factors, crops grown and any crop rotations used.</p>
                All LTEs must have one design, however, if the LTE has undergone major changes during its history, these can be documented by creating multiple
                Design Periods. Each Design Period allows you to capture specific information, such as different factors and crops, for that period.  
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm"> 
                <label for="per-name">Name</label>
                <input class="form-control"
                       glt-is-invalid
                       id="per-name"
                       type="text"
                       formControlName="name" />
                <div class="invalid-feedback">
                    You must specify period names for experiments with more than one design period.
                </div>
                <glt-form-help>
                    Provide a name for this Design Period. If you only have one Design Period a name is optional, but if you have two or more Design Periods you must provide a name.
                    If you do not have a formal or meaningful name for each period it is recommended to call the earliest period <i>Period 1</i>, followed by <i>Period 2</i> etc.
                </glt-form-help>
            </div>

            <div class="form-group col-sm-2 align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()"
                        [disabled]="!canRemove">
                    Delete period
                </button>
            </div>
        </div>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                If the LTE has only one Design Period, leave start and end year blank (they will be the same as for the whole LTE).
            </div>
        </div>
        <div class="row" formGroupName="dates">
            <div class="col-sm form-group">
                <label for="per-start-year">Start year</label>
                <input class="form-control"
                       id="per-start-year"
                       type="number"
                       formControlName="startYear" />
                <glt-form-help>
                    The start year for this period. Leave blank if only one Design Period. 
                </glt-form-help>
            </div>
            <div class="col-sm form-group">
                <label for="per-end-year">End year</label>
                <input class="form-control"
                       id="per-end-year"
                       type="number"
                       formControlName="endYear"
                       glt-is-invalid />
                <div class="invalid-feedback">
                    End must be later than start.
                </div>
                <glt-form-help>
                    The end year for this period. Leave blank if only one Design Period. 
                </glt-form-help>
            </div>
            <div class="col-sm form-goup">
                <label for="per-ongoing">Ongoing?</label>
                <input class="form-control"
                       id="per-ongoing"
                       type="checkbox"
                       formControlName="ongoing" />
            </div>
        </div>

        <div class="form-group">
            
            <label for="per-description">Description</label>
            <textarea class="form-control"
                      id="per-description"
                      lines="4"
                      formControlName="description">
            </textarea>
            <glt-form-help>
                Provide a brief description for this design period. This field is optional. 
            </glt-form-help>
        </div>

        <div class="form-group">
            <label for="per-type">Experiment design type</label>
            <glt-vocab-term-input inputId="per-type"
                                  vocabulary="Design Types"
                                  [model]="phaseModel.get('type')"
                                  [altMenu]="true">
                                <glt-form-help>
                                    Select an experiment design type from the list. If none of the options matches the LTE design, select the 'Other' option 
                                    and use the following text box to describe the experiment design.
                                </glt-form-help>                            
            </glt-vocab-term-input>
        </div>

        <div class="form-group">
            <label for="per-dd">Design description</label>
            <textarea class="form-control"
                      id="per-dd"
                      lines="4"
                      formControlName="designDescription">
            </textarea>
            <glt-form-help>
                Provide additional information about the experiment design for this Design Period. This field is optional. 
            </glt-form-help>                        
        </div>

        <div class="row">
            <!--<div class="col-sm form-group">
                <label for="per-nblocks">Number of blocks</label>
                <input class="form-control"
                       id="per-nblocks"
                       type="number"
                       formControlName="numberOfBlocks">
            </div>-->

            <div class="col-sm form-group align-self-end">
                <label for="per-nplots">Number of whole (main) plots</label>
                <input class="form-control"
                       id="per-nplots"
                       type="number"
                       formControlName="numberOfPlots">
                <glt-form-help>
                    A whole plot is smallest area of land in the LTE to which different factor levels are applied. This field is optional. 
                </glt-form-help>                       
            </div>

            <div class="col-sm form-group align-self-end">
                <label for="per-nsubplots">Number of split (sub) plots</label>
                <input class="form-control"
                       id="per-nsubplots"
                       type="number"
                       formControlName="numberOfSubplots">   
                <glt-form-help>
                    A split plot is division of a whole plot to which additional factor levels are applied. This field is optional. 
                </glt-form-help>                                        
            </div>

            <div class="col-sm form-group align-self-end">
                <label for="per-nreps">Number of replicates</label>
                <input class="form-control"
                       id="per-nreps"
                       type="number"
                       formControlName="numberOfReplicates">
                <glt-form-help>
                    This is the number of plots receiving the same combination of factor levels. This field is optional. 
                </glt-form-help>                
            </div>

            <div class="col-sm form-group align-self-end">
                <label for="per-havests">Maximum harvests per year</label>
                <input class="form-control"
                       id="per-harvests"
                       type="number"
                       formControlName="harvestsPerYear">
                <glt-form-help>
                    The maximum number of harvests per year. This field is optional. 
                </glt-form-help>                    
            </div>

            <div class="col-sm form-group align-self-end">
                <label for="per-factorial">Factorial?</label>
                <input class="form-control"
                       id="per-factorial"
                       type="checkbox"
                       formControlName="factorial">
                <glt-form-help>
                    Check this box if all combinations of different factor levels are present at the same time the LTE. 
                </glt-form-help>
            </div>
        </div>

        <h3 class="mt-4">Crops</h3>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                <p>Add the crops grown on the LTE here. Crops can include for example, permanent pasture, forestry and multi-year leys. You can include generic terms
                for example, cover crops, root crops, cereals etc. 
                </p>
                <p>If the LTE has crop rotations, add the crops grown in the rotations here and define the rotations in the next section.
                </p>
            </div>
        </div>
        <div formArrayName="crops">
            <div *ngFor="let crop of crops.controls; let i = index">
                <glt-crop-editor [cropModel]="crop"
                                 (onRemove)="removeCrop(i)">
                </glt-crop-editor>
            </div>

            <button class="btn btn-primary"
                    (click)="addCrop()">
                <fa name="plus"></fa> Add another crop
            </button>
        </div>

        <h3 class="mt-4">Crop Rotations</h3>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                Add any crop rotations here. If crop rotation is a Factor and the LTE has different crop rotations as Factor Levels, check the <i>Is factor level.</i> 
                for each rotation. For more information refer to the 
                <a href="https://gltenhelp.readthedocs.io/en/latest/designPeriod.html#crop-rotations" target="blank_">GLTEN Crop Rotations help</a>.  
            </div>
        </div>
        <div formArrayName="rotations">
            <div *ngFor="let rotation of rotations.controls; let i = index">
                <glt-rotation-editor [rotationModel]="rotation"
                                     [cropModels]="crops"
                                     (onRemove)="removeRotation(i)">
                </glt-rotation-editor>
            </div>

            <button class="btn btn-primary"
                        (click)="addRotation()">
                <fa name="plus"></fa> Add crop rotation
            </button>
        </div>

        <h3 class="mt-4">Factors</h3>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                A factor is a controlled independent variable with different factor levels or categories set for the LTE. 
                For example, different Nitrogen treatment rates; different cultivation/tillage practices; different mixtures of cover crops. 
                Use this section to define the Factors and Factor levels for this design period. For more information refer to the 
                <a href="https://gltenhelp.readthedocs.io/en/latest/designPeriod.html#factors" target="blank_">GLTEN Factors help</a>.
            </div>
        </div>
        <div formArrayName="factors">
            <div *ngFor="let factor of factors.controls; let i = index">
                <glt-factor-editor [factorModel]="factor"
                                   [cropModels]="crops"
                                   (onRemove)="removeFactor(i)">
                </glt-factor-editor>
            </div>
            <button class="btn btn-primary"
                    (click)="addFactor()">
                <fa name="plus"></fa> Add another factor
            </button>
        </div>

        <h3 class="mt-4">Factor level combinations</h3>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                If the LTE Design Period is non-fatcorial use this section to specify the 
                combinations of factor levels used. This section uses Factors and Factor Levels defined in the previous section.
            </div>
        </div>
        <div formArrayName="factorCombinations">
            <div *ngFor="let fc of factorCombinations.controls; let i = index">
                <glt-factor-combination-editor [combinationModel]="fc"
                                               [cropModels]="crops"
                                               [factorModels]="factors"
                                               (onRemove)="removeCombination(i)">
                </glt-factor-combination-editor>
            </div>
            <button class="btn btn-primary"
                    (click)="addFactorCombination()">
                <fa name="plus"></fa> Add another combination
            </button>
        </div>

        <h3 class="mt-4">Measurements</h3>
        <div class="card my-1">
            <div class="card-body bg-info-light-20 p-2">
                Use this section to list the variables routinely measured for the LTE. This gives an indication of the data available for the LTE.
            </div>
        </div>
        <div formArrayName="measurements">
            <div *ngFor="let measurement of measurements.controls; let i = index">
                <glt-measurement-editor [measurementModel]="measurement"
                                        [cropModels]="crops"
                                        (onRemove)="removeMeasurement(i)">
                </glt-measurement-editor>
            </div>
            <button class="btn btn-primary"
                    (click)="addMeasurement()">
                <fa name="plus"></fa> Add another measurement
            </button>
        </div>
</div>