<glt-header>
</glt-header>


<div class="container">
    <div *ngIf="err" style="color: red">
        {{ err.message }}
    </div>

    <glt-experiment-desc-view *ngIf="!err && expt"
                              [expt]="expt"
                              [experimentId]="experimentID">
        
    </glt-experiment-desc-view>
</div>