<div [formGroup]="overviewModel">
    <h3>Experiment overview</h3>

	<div class="form-group"> 
        <label for="expt-fod">GLTEN Curated?</label>
            <input class="form-control"
                   id="expt-fod"
                   type="checkbox"
                   formControlName="farm_operations_data" />
				<glt-form-help>
                Check this box if the metadata record has been entered by the GLTEN curators
            </glt-form-help>
	</div>
	
    <div class="form-group"> 
        <label for="expt-name">Name</label>
        <input class="form-control"
               glt-is-invalid
               id="expt-name"
               type="text"
               formControlName="name" />
        <div class="invalid-feedback">
            You must provide a name.
        </div>
        <glt-form-help>
            A globaly-recognizable name for this LTE, which will &ndash; after publication &ndash; appear
            in the experiment list and map views.
        </glt-form-help>
    </div>
    <div class="form-group">
        <label for="expt-local-id">Local identifier</label>
        <input class="form-control"
                id="expt-local-id"
                type="text"
                formControlName="localIdentifier" />
        <glt-form-help>
            An identifier which is commonly used to identify the LTE. This field is optional
        </glt-form-help>
    </div>
    <div class="row" formGroupName="dates">
        <div class="col-sm-2 form-group">
            <label for="expt-start-year">Start year</label>
            <input class="form-control"
                   glt-is-invalid
                   id="expt-start-year"
                   type="number"
                   formControlName="startYear" />
            <div class="invalid-feedback">
                You must provide a start year.
            </div>
            <glt-form-help>
                The year the LTE started
            </glt-form-help>
        </div>
        
        <div class="col-sm-2 form-group">
            <label for="expt-end-year">End year</label>
            <input class="form-control"
                   id="expt-end-year"
                   type="number"
                   formControlName="endYear"
                   glt-is-invalid />
            <div class="invalid-feedback">
                End year must be after than start year or check the ongoing option.
            </div>
            <glt-form-help>
                The year the LTE ended. If the LTe is still running check the Ongoing option.
            </glt-form-help>
        </div>
        
        <div class="col-sm-1 form-group">
            <label for="expt-ongoing">Ongoing?</label>
            <input class="form-control"
                   id="expt-ongoing"
                   type="checkbox"
                   formControlName="ongoing" />
        </div>
        <!--<div class="col-sm form-group">
            <label for="expt-establishment-end-year">Establishment period end year</label>
            <input class="form-control"
                   id="expt-establishment-end-year"
                   type="number"
                   formControlName="establishmentEnd" />
        </div>
    -->
    </div>

	<!-- commented out as these classifications don't seem useful. May be better to try and classify based on entered factors -->
    <!--<div class="form-group">
        <label for="expt-type-term">Experiment type</label>
        <glt-vocab-term-input inputId="expt-type-term"
                              vocabulary="Experiment Types"
                              [model]="overviewModel.get('type')"
                              [altMenu]="true">
            <glt-form-help>
                Where possible, provide a high-level classification for this experiment.
            </glt-form-help>
        </glt-vocab-term-input>

    </div>-->

    <div class="form-group">
        <label for="expt-objective">Objective</label>
        <textarea class="form-control"
                  id="expt-objective"
                  lines="4"
                  glt-is-invalid
                  formControlName="objective">         
        </textarea>
        <div class="invalid-feedback">
            You must state the scientific objectives for the LTE.
        </div>
        <glt-form-help>    
            Use this text box to describe the primary scientific objectives of the LTE.
        </glt-form-help>
    </div>

    <div class="form-group">
        <label for="expt-description">Description</label>
        <textarea class="form-control"
                  id="expt-description"
                  lines="4"
                  formControlName="description">
        </textarea>
        <glt-form-help>
            Use this text box to provide additional descriptive information about the LTE.
        </glt-form-help>
    </div>
    
    <div class="row">
        <!--<div class="form-group col-sm-3">
            <label for="expt-fod">GLTEN Curated?</label>
            <input class="form-control"
                   id="expt-fod"
                   type="checkbox"
                   formControlName="farm_operations_data" />
				<glt-form-help>
                Check this box if the metadata record has been entered by the GLTEN curators
            </glt-form-help>
        </div>
    -->
        <div class="form-group col-sm-2">
            <label for="expt-samplearchive">Sample archive?</label>
            <input class="form-control"
                   id="expt-samplearchive"
                   type="checkbox"
                   formControlName="sample_archive" />
            <glt-form-help>
                Check this box to indicate physical samples are routinely collected
and archived.
            </glt-form-help>
        </div>
        <div class="form-group col-sm-2">
            <label for="expt-samplesavailable">Samples available?</label>
            <input class="form-control"
                   id="expt-samplesavailable"
                   type="checkbox"
                   formControlName="samples_available" />
            <glt-form-help>
                Check this box if samples can be made available for research.
            </glt-form-help>            
        </div>
    </div>

    <!--<div class="form-group">
        <label for="expt-datastatement">Data Access Statement</label>
        <glt-vocab-term-input inputId="expt-datastatement"
                              vocabulary="Data Statements"
                              [model]="overviewModel.get('dataStatement')"
                              [altMenu]="true">
            <glt-form-help>
                Select a Data Access Statement to indicate the accesibility of data. 
            </glt-form-help>
            <div class="invalid-feedback">
                You must select a Data Access Statement option. Select "Don't Know" if you are unsure.
            </div>
        </glt-vocab-term-input>
    </div>-->
    <div class="form-group">


        <label for="expt-datastatement-status">Data Access Statement</label>        
        <div ngbDropdown  >
            <button class="btn dropdown-toggle" [ngClass]="{'btn-outline-danger' : statementStatusControl.invalid, 'btn-outline-primary' : statementStatusControl.valid}"
                    id="expt-datastatement-status"
                    type="button"
                    ngbDropdownToggle>
                {{ dataStatementLabel }}
            </button>
            <div class="dropdown-menu"
                 ngbDropdownMenu>
                <button ngbDropdownItem
                        *ngFor="let option of termLabels.dataStatementOptions"
                        (click)="setDataStatementStatus(option.status)">
                    {{ option.label }}
                </button>
                
            </div>            
            <div class="invalid-feedback" [ngStyle]="{'display': statementStatusControl.invalid ? 'block' : 'none'}">               
                Required
            </div>
            <glt-form-help>
                Select a Data Access Statement from the drop down list to indicate how LTE data can be accessed. Use the <i>Data Access Notes</i> below to provide additional information.
            </glt-form-help>
        </div>
        
    </div>

    <div class="form-group">
        <label for="expt-das">Data Access Notes</label>
        <textarea class="form-control"
                  id="expt-das"
                  lines="4"
                  formControlName="dataAccessStatement">
        </textarea>
        <glt-form-help>
            Use this text box to give additional information about the terms of access for datasets, for example how datasets can be accessed or requested.
        </glt-form-help>
    </div>

    <!--<div class="form-group">
        <label for="expt-datalicense">Data License</label>
        <glt-vocab-term-input inputId="expt-datalicense"
                              vocabulary="Data Licenses"
                              [model]="overviewModel.get('dataLicense')"
                              [altMenu]="true">
        </glt-vocab-term-input>
    </div>-->
    <div class="form-group">
        <label for="expt-datalicense-status">Data License</label>
        <div ngbDropdown>
            <button class="btn btn-outline-primary dropdown-toggle" [ngClass]="{'btn-outline-danger' : licenseStatusControl.invalid, 'btn-outline-primary' : licenseStatusControl.valid}"
                    id="expt-datalicense-status"
                    type="button"
                    ngbDropdownToggle>
                {{ dataLicenseLabel }}
            </button>
            <div class="dropdown-menu" 
                 ngbDropdownMenu>
                <button ngbDropdownItem
                        *ngFor="let option of termLabels.dataLicenseOptions"
                        (click)="setDataLicenseStatus(option.status)">
                    {{ option.label }}
                </button>
            </div>
            <div class="invalid-feedback" [ngStyle]="{'display': licenseStatusControl.invalid ? 'block' : 'none'}">               
                Required
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="expt-dataurl">Data URL</label>
        <input class="form-control"
               id="expt-dataurl"
               type="text"
               formControlName="dataURL" />
        <glt-form-help>
            If data are available online, provide the URL for accessing the data.
        </glt-form-help>
    </div>

    <div class="row">
        <div class="form-group col-sm-3">
            <label for="expt-datapolicy-status">Data policy</label>
            <div ngbDropdown>
                <button class="btn btn-outline-primary dropdown-toggle" [ngClass]="{'btn-outline-danger' : policyStatusControl.invalid, 'btn-outline-primary' : policyStatusControl.valid}"
                        id="expt-datapolicy-status"
                        type="button"
                        ngbDropdownToggle>
                    {{ dataPolicyLabel }}
                </button>
                <div class="dropdown-menu" 
                     ngbDropdownMenu>
                    <button ngbDropdownItem
                            *ngFor="let option of termLabels.dataPolicyOptions"
                            (click)="setDataPolicyStatus(option.status)">
                        {{ option.label }}
                    </button>
                </div>
                <div class="invalid-feedback"
                     [ngStyle]="{'display': policyStatusControl.invalid ? 'block' : 'none'}">
                    Required
                </div>
            </div>
        </div>

        <div class="form-group col-sm">
            <label for="expt-policyurl">Data Policy URL</label>
            <input class="form-control"
                   glt-is-invalid
                   id="expt-policyurl"
                   type="text"
                   formControlName="dataPolicyURL" />
            <div class="invalid-feedback">
                Required if data policy is online.
            </div>
            <glt-form-help>
                If the data policy is available online, provide the URL for accessing it.
            </glt-form-help>
        </div>
    </div>
	<!-- This is redundant as data contacts are flagged under the people tab -->
    <!--<div class="form-group">
        <label for="expt-datacontact">Data contact</label>
        <input class="form-control"
               id="expt-datacontact"
               type="text"
               formControlName="dataContact" />
    </div>-->
</div>
