<div *ngFor="let contact of contacts">
    <ng-container [ngSwitch]="contact.contact_type">
        <div *ngSwitchCase="'URL'">
            <fa name="link" fixed="true"></fa>&nbsp;<a href="{{ contact.value }}">{{ contact.value }}</a>
        </div>
        <div *ngSwitchCase="'Email'">
            <fa name="send" fixed="true"></fa>&nbsp;<a href="mailto:{{ contact.value }}">{{ contact.value }}</a>
        </div>
        <div *ngSwitchCase="'Telephone'">
            <fa name="phone" fixed="true"></fa>&nbsp;{{ contact.value }}
        </div>
        <div *ngSwitchCase="'Fax'">
            <fa name="fax" fixed="true"></fa>&nbsp;{{ contact.value }}
        </div>
        <div *ngSwitchCase="'Address'" style="white-space: pre-wrap">
            <fa name="envelope" fixed="true"></fa>&nbsp;{{ contact.value}}
        </div>
        <div *ngSwitchDefault>
            Unknown contact {{contact.contact_type}}
        </div>
    </ng-container>
</div>
