<h3>
    Site: 
    {{ expt.site_name }}
</h3>

<dl class="row">
    <ng-container *ngIf="expt.site_type_term || expt.site_type_label">
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">{{ expt.site_type_label || expt.site_type_term }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_local_code">
        <dt class="col-sm-3">Local code</dt>
        <dd class="col-sm-9">{{ expt.site_local_code }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_geonames_id">
        <dt class="col-sm-3">Geonames ID</dt>
        <dd class="col-sm-9">{{ expt.site_geonames_id }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_doi">
        <dt class="col-sm-3">Site DOI</dt>
        <dd class="col-sm-9">
            <a href="https://dx.doi.org/{{ expt.site_doi }}">{{ expt.site_doi }}</a>
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.site_region || expt.site_locality || expt.site_country">
        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">
            <div>{{ expt.site_locality }}</div>
            <div>{{ expt.site_region }}</div>
            <div>{{ expt.site_country }}</div>
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.site_centroid_latitude || expt.site_centroid_longitude">
        <dt class="col-sm-3">Geographic location</dt>
        <dd class="col-sm-9">
            {{ expt.site_centroid_latitude }}, {{ expt.site_centroid_longitude }}
            <div leaflet
                 style="height: 400px;"
                 [leafletOptions]="mapOptions"
                 [leafletBaseLayers]="baseLayers"
                 [leafletLayers]="mapLayers"
                 (leafletMapReady)="onMapReady($event)">
            </div>
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.site_elevation != null">
        <dt class="col-sm-3">Elevation</dt>
        <dd class="col-sm-9">
            {{ expt.site_elevation }} {{ expt.site_elevation_unit }}
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.site_slope != null || expt.site_slope_aspect">
        <dt class="col-sm-3">Slope</dt>
        <dd class="col-sm-9">
            <span *ngIf="expt.site_slope != null">
                {{ expt.site_slope }}&deg;
            </span>
            <span *ngIf="expt.site_slope_aspect">
                ({{ expt.site_slope_aspect }} facing)
            </span>
        </dd>
    </ng-container>

    <ng-container>
        <dt class="col-sm-3">Visits permitted?</dt>
        <dd class="col-sm-9">{{ expt.site_visits_allowed ? 'Yes' : 'No' }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_visiting_arrangements">
        <dt class="col-sm-3">Visiting arrangements</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">{{ expt.site_visiting_arrangements }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_history">
        <dt class="col-sm-3">History</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">{{ expt.site_history }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_management">
        <dt class="col-sm-3">Management</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">{{ expt.site_management }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_soil_type_term || expt.site_soil_type_label">
        <dt class="col-sm-3">Soil type</dt>
        <dd class="col-sm-9">
            {{ expt.site_soil_type_label || expt.site_soil_type_term }}
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.site_soil_description">
        <dt class="col-sm-3">Soil description</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">{{ expt.site_soil_description }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_soil_properties && expt.site_soil_properties.length > 0">
        <dt class="col-sm-3">Soil properties</dt>
        <dd class="col-sm-9">
            <table class="table table-compact">
                <thead>
                    <th>Variable</th>
                    <th>Depth</th>
                    <th>Value (range)</th>
                    <th>Units</th>
                    <th>Ref year</th>
                    <th>Estimated?</th>
                    <th>Baseline?</th>
                </thead>
                <tbody>
                    <tr *ngFor="let prop of expt.site_soil_properties">
                        <td>{{ prop.variable_label || prop.variable_term }}</td>
                        <td>{{ prop.min_depth }} 
                            <span *ngIf="prop.max_depth !== null"> &ndash; {{ prop.max_depth }}</span>
                            {{prop.depth_unit}}</td>
                        <td>{{ prop.typical_value }}
                            <span *ngIf="prop.min_value !== null || prop.max_value !==null">
                                ({{ prop.min_value }} &ndash; {{ prop.max_value }})
                            </span>
                        </td>
                        <td>{{ prop.unit_label || prop.unit_term}}</td>
                        <td>{{ prop.reference_year }}</td>
                        <td><span [ngClass]="'checkmark-' + prop.is_estimated"></span></td>
                        <td><span [ngClass]="'checkmark-' + prop.is_baseline"></span></td>
                    </tr>
                </tbody>
            </table>
    </ng-container>

    <ng-container *ngIf="expt.site_climatic_type_term || expt.site_climatic_type_label">
        <dt class="col-sm-3">Climatic type</dt>
        <dd class="col-sm-9">
            {{ expt.site_climatic_type_label || expt.site_climatic_type_term }}
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.site_climate_description">
        <dt class="col-sm-3">Climate description</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">{{ expt.site_climate_description }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.site_climate_properties && expt.site_climate_properties.length > 0">
        <dt class="col-sm-3">Climate properties</dt>
        <dd class="col-sm-9">
            <table class="table table-compact">
                <thead>
                    <th>Variable</th>
                    <th>Time period</th>
                    <th>Value (range)</th>
                    <th>Units</th>
                </thead>
                <tbody>
                    <tr *ngFor="let prop of expt.site_climate_properties">
                        <td>{{ prop.variable_label || prop.variable_term }}</td>
                        <td>
                            <span *ngIf="prop.year_from !== null || prop.year_to !== null">
                                {{ prop.year_from }} &ndash; {{ prop.year_to }}
                            </span>
                        </td>
                        <td>{{ prop.mean_value }}
                            <span *ngIf="prop.min_value !== null || prop.max_value !==null">
                                ({{ prop.min_value }} &ndash; {{ prop.max_value }})
                            </span>
                        </td>
                        <td>{{ prop.unit_label || prop.unit_term}}</td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </ng-container>
</dl>