<div [formGroup]="model"
     class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="clim-prop-variable">Variable</label>
                <glt-vocab-term-input inputId="clim-prop-variable"
                                      vocabulary="Climate Properties"
                                      [model]="model.get('variable')">
                </glt-vocab-term-input>
            </div>

            <ng-container formGroupName="dates">
                <div class="col-sm form-group">
                    <label for="clim-start-year">Start year</label>
                    <input class="form-control"
                           id="clim-start-year"
                           type="number"
                           formControlName="startYear" />
                </div>
                <div class="col-sm form-group">
                    <label for="clim-end-year">End year</label>
                    <input class="form-control"
                           id="clim-end-year"
                           type="number"
                           formControlName="endYear"
                           glt-is-invalid />
                    <div class="invalid-feedback">
                        End must be later than start.
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="row">
            <div class="col-sm-3 form-group">
                <label for="clim-mean">Mean value</label>
                <input class="form-control"
                       type="number"
                       id="clim-mean"
                       formControlName="meanValue" />
            </div>
            <div class="col-sm-3 form-group">
                <label for="clim-min">Min. value</label>
                <input class="form-control"
                       type="number"
                       id="clim-min"
                       formControlName="minValue" />
            </div>
            <div class="col-sm-3 form-group">
                <label for="clim-max">Max. value</label>
                <input class="form-control"
                       type="number"
                       id="clim-max"
                       formControlName="maxValue" />
            </div>
            <div class="form-group col-sm-3">
                <label for="clim-prop-units">Units</label>
                <glt-vocab-term-input inputId="clim-prop-units"
                                      vocabulary="Units"
                                      [model]="model.get('unit')">
                </glt-vocab-term-input>
            </div>
        </div>
    </div>
</div>
