<div class="input-group contact mb-2"
     [formGroup]="contactModel">
    <div class="input-group-prepend"
         ngbDropdown>
        <button class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                ngbDropdownToggle>
            <fa *ngIf="contactTypeIcon"
                [name]="contactTypeIcon"
                fixed="true">
            </fa> {{ contactTypeLabel }}    
        </button>
        <div class="dropdown-menu" 
             ngbDropdownMenu>
            <button ngbDropdownItem
                    *ngFor="let type of contactTypes"
                    (click)="setContactType(type.key)">
                <fa [name]="type.icon" fixed="true"></fa> {{ type.label }}
            </button>
        </div>
    </div>
    <input type="text"
           class="form-control"
           formControlName="value">

    <div class="input-group-append">
        <button class="btn btn-outline-danger"
                type="button"
                (click)="onRemove.emit()">
            Remove
        </button>
    </div>
</div>
