<glt-header></glt-header>

<div class="container">
    <h1>About the GLTEN</h1>
	<p>The Global Long-Term Agricultural Experiment Network (GLTEN) is a network of long-term agricultural experiments spanning six continents and representing numerous climates, environments, crop systems and farming practices.</p>
	<p>The Global Long-Term Agricultural Experiment Network (GLTEN) was launched in May 2018 with the aim of establishing and supporting a collaborative network within the international agricultural science community.</p>
	<p>The GLTEN is supported by over 60 Long-Term Experiments (LTEs) across the world which represent diverse and contrasting climate regions and environments, as well as multiple crop systems and land management schemes.</p>
	<p>The scientific findings from these LTEs enable the identification of factors influencing the sustainable intensification of agriculture worldwide and can contribute to several of the UN’s Sustainable Development Goals.</p>
	<p>The GLTEN is committed to making the agricultural LTEs metadata collection available online under a FAIR Data Principle (findable, accessible, interoperable, and re-usable)</p>
	
	<h2>GLTEN Steering Committee</h2>	
	<div class="row">
		<div class="col-sm">Jonathan Storkey (PI)</div>
        <div class="col-sm">Rothamsted Research</div>
		<div class="col-sm">UK</div>
	</div>
    <div class="row">
		<div class="col-sm">Carlos Eduardo P Cerri</div>
        <div class="col-sm">ESALQ/USP</div>
		<div class="col-sm">Brazil</div>
	</div>
	<div class="row">
		<div class="col-sm">Pauline Chivenge</div>
        <div class="col-sm">IRRI</div>
		<div class="col-sm">Philippines</div>
	</div>
	<div class="row">
		<div class="col-sm">Andres Quincke</div>
        <div class="col-sm">INIA</div>
		<div class="col-sm">Uruguay</div>
	</div>
	<div class="row">
		<div class="col-sm">Sieglinde Snapp</div>
        <div class="col-sm">Michigan State University</div>
		<div class="col-sm">USA</div>
	</div>
	<div class="row">
		<div class="col-sm">Christian Thierfelder</div>
        <div class="col-sm">Zimbabwe</div>
		<div class="col-sm">CIMMYT</div>
	</div>
	
	<h2>Take Part</h2>
	<p>If you wish to become a member or have other questions about the GLTEN or GLTEN Metadata Portal, please email the GLTEN Co-ordinator at <a href="mailto:glten@rothamsted.ac.uk">glten@rothamsted.ac.uk</a></p>
	<p>Download the <a href="https://github.com/GLTEN/gltenhelp/raw/master/docs/source/docs/GLTEN_documentation_final.pdf" taregt="_blank">GLTEN Terms of Reference</a>.</p>
	<h2>GLTEN Video Presentation</h2>
	<p>The following presentation on the GLTEN metadata platform was given as part of the <abbr title="Research Data Alliance">RDA</abbr>*nbsp;<abbr title="Interest Group on Agricultural Data">IGAD</abbr> Webinar Series in Agriculture, 20 November 2019</p>
	<div>
		<iframe width="853" height="480" src="https://www.youtube.com/embed/llxMwjhRKpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
