/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.nav-link.btn-link {
    border: none;
    background: none;
}

.leaflet-popup .btn-link {
    font-size: 12px;
    padding-left: 0px; padding-right: 0px;
}