<div [formGroup]="organizationModel"
     class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm-9">
                <label for="org-name">Name</label>
                <input type="text"
                       class="form-control"
                       id="org-name"
                       formControlName="name"
                       glt-is-invalid>
                <div class="invalid-feedback">
                    You must specify a name.
                </div>
            </div>

            <div class="form-group col-sm">
                <label for="org-abbrev">Abbreviation</label>
                <input type="text"
                       class="form-control"
                       id="org-abbrev"
                       formControlName="abbreviation">
            </div>

            <div class="form-group col-sm-1 text-center align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>
		<!-- Not required -->
		<!--
        <div class="form-group">
            <label for="org-name-uri">URI for geographic location</label>
            <input type="text"
                   class="form-control"
                   id="org-name-uri"
                   formControlName="nameURI">
        </div>
		-->

        <div class="form-group">
            <label for="org-role">Role</label>
            <glt-vocab-term-input inputId="org-role"
                                  vocabulary="Organization Roles"
                                  [model]="organizationModel.get('role')"
                                  [altMenu]="true">
            </glt-vocab-term-input>
        </div>

        <div formArrayName="contacts">
            <div *ngFor="let contact of contacts.controls; let i = index">
                    <glt-contact-editor [contactModel]="contact"
                                        (onRemove)="removeContact(i)">                
                    </glt-contact-editor>
                </div>
        </div>
        <button type="button" class="btn btn-primary"
                (click)="addContact()">
            <fa name="plus"></fa> Add another contact method
        </button>
    </div>
</div>
