<html>
<head>
  <meta charset="utf-8">
  <title>GLTEN</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1">

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body style="padding-top: 3.5rem">

<nav class="navbar navbar-expand-lg fixed-top" style="background-color:  #f3f3f3">
  <a class="navbar-brand" href="/">
      <img width="47" height="40" 
           src="static/assets/logo.x1.png"
           srcset="static/assets/logo.x1.png 1x,
                   static/assets/logo.x2.png 2x">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link"
               href="/accounts/logout/">
               Logout
            </a>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link"
               href="/accounts/login/">
               Login
            </a>
          </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container" style="padding-top: 80px">
    {% block content %}
    {% endblock %}
</div>

</body>