<h1>{{ expt.name }}</h1>

<ng-container *ngIf="expt.farm_operations_data">
<div style="background-color:lightyellow; font-weight:bold; padding:5px; margin-bottom:5px;">
	This experiment has been added by the GLTEN Curators using existing published sources.
</div>
</ng-container>

<dl class="row">
    <ng-container *ngIf="expt.local_identifier">
        <dt class="col-sm-3">Local identifier</dt>
        <dd class="col-sm-9">{{ expt.local_identifier }}</dd>
    </ng-container>

    <ng-container *ngIf="expt.local_identifier">
        <dt class="col-sm-3">Years operational</dt>
        <dd class="col-sm-9">
            {{ expt.start_year || '????' }}&mdash;{{ expt.end_year }}
            <ng-container *ngIf="expt.establishment_period_end">
                (Establishment period end: {{ expt.establishment_period_end }})
            </ng-container>
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.url">
        <dt class="col-sm-3">URL</dt>
        <dd class="col-sm-9">
            <a href="expt.url">
               {{ expt.url }}
            </a>
        </dd>
    </ng-container>
	<!--
    <ng-container *ngIf="expt.experiment_type_label || expt.experiment_type_term">
        <dt class="col-sm-3">Experiment Type</dt>
        <dd class="col-sm-9">
            {{ expt.experiment_type_label || expt.experiment_type_term }}
        </dd>
    </ng-container>
	-->
    <ng-container *ngIf="expt.objective">
        <dt class="col-sm-3">Objective</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">
            {{ expt.objective }}
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.description">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">
            {{ expt.description }}
        </dd>
    </ng-container>
<!--
    <dt class="col-sm-3"><span [ngClass]="'checkmark-' + expt.farm_operations_data"></span> Farm operation data?</dt>
    <dt class="col-sm-3"><span [ngClass]="'checkmark-' + expt.sample_archive"></span> Sample archive?</dt>
    <dt class="col-sm-3"><span [ngClass]="'checkmark-' + expt.samples_available"></span> Samples available?</dt>
    <dd class="col-sm-3">&nbsp;</dd>
-->
    <ng-container *ngIf="(expt.data_statement_term || expt.data_statement_label) || !expt.data_access_statement">
        <dt class="col-sm-3">Data Access Statement</dt>
        <dd class="col-sm-9">
            <span *ngIf="expt.data_statement_term || expt.data_statement_label; else elseStatement">
                {{ expt.data_statement_term || expt.data_statement_label }}
            </span>
            <ng-template #elseStatement>
                <span style="color: red">
                    No data statement
                </span>
            </ng-template>
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.data_access_statement">
        <dt class="col-sm-3">Data Access Notes</dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">
            {{ expt.data_access_statement }}
        </dd>
    </ng-container>
        
    <ng-container>
        <!-- Important enough that we'll put an explicit note in if this this missing -->
        <dt class="col-sm-3">Data license</dt>
        <dd class="col-sm-9">
            <span *ngIf="expt.data_license_term || expt.data_license_label; else elseLicense">
                {{ expt.data_license_term || expt.data_license_label }}
            </span>
            <ng-template #elseLicense>
                <span style="color: red">
                    No data license
                </span>
            </ng-template>
        </dd>
    </ng-container>

    <ng-container *ngIf="expt.data_url">
        <dt class="col-sm-3">Data URL</dt>
        <dd class="col-sm-9">
            <a href="{{ expt.data_url }}" target="_blank">
                {{ expt.data_url }}
            </a>
        </dd>
    </ng-container>

    <!--
	<ng-container *ngIf="expt.data_contact">
        <dt class="col-sm-3">Data contact</dt>
        <dd class="col-sm-9">{{ expt.data_contact }}</dd>
    </ng-container>
	-->
    <ng-container *ngIf="expt.data_policy_url || expt.data_policy_status">
        <dt class="col-sm-3">Data policy</dt>
        <dd class="col-sm-9">
            <span *ngIf="expt.data_policy_status === 'YesOnline' && expt.data_policy_url; else elsePolicy">
                <a href={{expt.data_policy_url}}>{{ expt.data_policy_url }}</a>
            </span>
            <ng-template #elsePolicy>
                <span>{{ termLabels.dataPolicyLabel(expt.data_policy_status) }}</span>
            </ng-template>
        </dd>
    </ng-container>

    <ng-container>
        <dt class="col-sm-3">
            {{ expt.organizations.length === 1 ? 'Organization' : 'Organizations'}}
        </dt>

        <dd class="col-sm-9">
            <div style="display: flex; flex-wrap: wrap; margin-left: -0.5rem">
                <div *ngFor="let org of expt.organizations"
                     class="card"
                     style="margin: 0.5rem; flex: 0 0 calc(50% - 1rem)">
                    <div class="card-header contact-card-header">
                        <div class="contact-card-left">
                            {{ org.name }}
                        </div>
                        <div class="contact-card-spacer"></div>
                        <div class="contact-card-right">
                            <span *ngIf="org.role_term || org.role_label" style="font-style: italic;">
                                {{ org.role_label || org.role_term }}
                            </span>
                        </div>
                    </div>

                    <div class="card-body">
                        <glt-contacts-view [contacts]="org.contacts">
                        </glt-contacts-view>
                    </div>
                </div>
            </div>
        </dd>
    </ng-container>

    <ng-container>
        <dt class="col-sm-3">
            {{ expt.people.length === 1 ? 'Person' : 'People'}}
        </dt>

        <dd class="col-sm-9">
            <div style="display: flex; flex-wrap: wrap; margin-left: -0.5rem">
                <div *ngFor="let person of expt.people"
                     class="card"
                     style="margin: 0.5rem; flex: 0 0 calc(50% - 1rem)">
                    <div class="card-header contact-card-header">
                        <div class="contact-card-left">
                            <span *ngIf="person.title">{{ person.title }} </span>{{ person.name }}
                        </div>
                        <div class="contact-card-spacer"></div>
                        <div class="contact-card-right">
                            <span *ngIf="person.role_term || person.role_label" style="font-style: italic;">
                                {{ person.role_label || person.role_term }}
                            </span>
                            <span *ngIf="person.is_contact"
                                  title="Contact person">
                                <fa name="envelope"></fa>
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div style="margin-bottom: 0.5em; font-style: italic;">
                            <div>{{ person.affiliation }}</div>
                            <div>{{ person.department }}</div>
                        </div>
                        <glt-contacts-view [contacts]="person.contacts">
                        </glt-contacts-view>
                    </div>
                </div>
            </div>
        </dd>
    </ng-container>
</dl>

<glt-site-view [expt]="expt"
               [experimentId]="experimentId">
</glt-site-view>

<div *ngFor="let period of expt.periods">
    <glt-design-phase-view [period]="period">
    </glt-design-phase-view>
</div>

<ng-container *ngIf="expt.literature && expt.literature.length > 0">
    <h3>Related publications</h3>
    <ul>
        <li *ngFor="let pub of expt.literature">
            {{ pub.title }}
            <div style="font-style: italic;">
                <ng-container *ngIf="pub.doi">
                    <!--<a href="https://dx.doi.org/{{ expt.site_doi }}">{{ pub.doi }}</a>-->
                    <a href="{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
                </ng-container>
                <ng-container *ngIf="pub.language">
                    [In {{ pub.language }}]
                </ng-container>
            </div>
        </li>
    </ul>

</ng-container>
