span.checkmark-false:after {
    content: "\2717";
}

span.checkmark-true:after {
    content: "\2713";
}

div.contact-card-header {
    display: flex;
    flex-direction: row;
}

div.contact-card-left {
    flex-shrink: 1;
}

div.contact-card-right {
    flex-shrink: 1;
    text-align: right;
}

div.contact-card-spacer {
    flex: 1 0 1rem;
}