<div class="card my-1">
    <div class="card-body bg-info-light-20 p-2">Type the name of a place in the text box to zoom into the map, then use the map to locate your experiment then click on the map to update the latitude and longitude.
    </div>
</div>
<form>
    <div class="input-group mb-1">
        <input type="text"
               class="form-control"
               placeholder="Name of place to locate, e.g. Harpenden"
               [formControl]="placeSearchControl" />
               
        <div class="input-group-append">
            <button type="submit"
                    class="btn btn-outline-secondary"
                    (click)="placeSearchClicked($event)">
                Search
            </button>
        </div>
    </div>
</form>

<div leaflet style="height: 300px;"
     [leafletOptions]="mapOptions"
     [leafletBaseLayers]="baseLayers"
     [leafletLayers]="mapLayers"
     (leafletClick)="mapClicked($event)"
     [(leafletCenter)]="mapCenter"
     [(leafletZoom)]="mapZoom"
     (leafletMapReady)="onMapReady($event)">
</div>