<glt-header>
    <li class="nav-item dropdown" 
        ngbDropdown
        (openChange)="historyOpenChange($event)">
        <button class="nav-link btn-link"
                ngbDropdownToggle>
            History
        </button>
        <div ngbDropdownMenu class="dropdown-menu">
            <div *ngIf="editHistory == null && editHistoryErr == null"
                 class="dropdown-item">
                <glt-loading></glt-loading>
            </div>
            <div *ngIf="editHistoryErr" style="color: red">
                {{ editHistoryErr.message }}
            </div>
            <div *ngIf="editHistory && editHistory.length > 0">
                Saved drafts:
            </div>
            <div *ngIf="editHistory && editHistory.length == 0">
                No saved drafts.
            </div>


            <a *ngFor="let item of editHistory || []"
               class="dropdown-item"
               (click)="historyItemClicked(item)">
                {{ item.saved_time | amTimeAgo }}
            </a>
        </div>
    </li>
    <li class="nav-item">
        <button class="nav-link btn-link"
                style="text-align: center"
                [ngClass]="{disabled: !model || !model.dirty}"
                (click)="save()">
           {{ (model && model.dirty) ? "Save" : "Saved" }}
           <div style="font-size: 80%; margin-top: -0.25rem"
                *ngIf="baseDesc && baseDesc.saved_time">
                {{ baseDesc.saved_time | amTimeAgo }}
            </div>
        </button>
    </li>
</glt-header>

<div class="container">
    <div *ngIf="!model && !err">
        <glt-loading></glt-loading>
    </div>

    <div *ngIf="err" style="color: red">
        {{ err.message }}
    </div>

    <div *ngIf="model">
        <form [formGroup]="model">
            <ngb-tabset (tabChange)="tabChange($event)">
                <ngb-tab [formGroup]="model.get('overview')">
                    <ng-template ngbTabTitle>
                        Experiment overview
                        <glt-validation-checkmark [model]="model.get('overview')">
                        </glt-validation-checkmark>
                    </ng-template>
                    <ng-template ngbTabContent
                                 [formGroup]="model.get('overview')">
                        <glt-experiment-overview-editor [overviewModel]="model.get('overview')">
                        </glt-experiment-overview-editor>
                    </ng-template>
                </ngb-tab>

                <ngb-tab formGroupName="contacts">
                    <ng-template ngbTabTitle>
                        People/Organizations
                        <glt-validation-checkmark [model]="contacts">
                        </glt-validation-checkmark>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <h3 class="mt-4">Organizations associated with this experiment</h3>

                        <div formArrayName="organizations">
                            <div *ngFor="let org of organizations.controls; let i = index">
                                <glt-organization-editor [organizationModel]="org"
                                                         (onRemove)="removeOrganization(i)">
                                </glt-organization-editor>
                            </div>

                            <button class="btn btn-primary"
                                    (click)="addOrganization()">
                                <fa name="plus"></fa> Add another organization
                            </button>
                        </div>

                        <h3 class="mt-4">People associated with this experiment</h3>
                        <div formArrayName="people">
                            <div *ngFor="let person of people.controls; let i = index">
                                <glt-person-editor [personModel]="person"
                                                   (onRemove)="removePerson(i)">                
                                </glt-person-editor>
                            </div>

                            <button class="btn btn-primary"
                                    (click)="addPerson()">
                                <fa name="plus"></fa> Add another person
                            </button>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Site
                        <glt-validation-checkmark [model]="model.get('site')">
                        </glt-validation-checkmark>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <glt-site-editor [siteModel]="model.get('site')">
                        </glt-site-editor>
                    </ng-template>
                </ngb-tab>

                <ngb-tab *ngFor="let period of periods.controls; let i = index"
                         id="{{'period-tab-' + i}}">
                    <ng-template ngbTabTitle>
                        <span *ngIf="period.get('name').value || periods.controls.length > 1; else elsePerName">
                            Design: {{ (period.get('name').value || 'Unknown')}}
                        </span>
                        <ng-template #elsePerName>
                            <span>Design </span>
                        </ng-template>
                        <glt-validation-checkmark [model]="period">
                        </glt-validation-checkmark>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <glt-design-phase-editor [phaseModel]="period"
                                                 [canRemove]="periods.controls.length > 1"
                                                 (onRemove)="removePeriod(i)">
                        </glt-design-phase-editor>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="+">
                    <ng-template ngbTabTitle>
                        <span title="Add new design period"><fa name="plus"></fa></span>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Related resources
                        <glt-validation-checkmark [model]="literature">
                        </glt-validation-checkmark>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <h3 class="mt-4">Related Resources</h3>
                        <div class="card mt-1 mb-1">
                            <div class="card-body bg-info-light-20 p-2">                                
                                Use the related resources tab to link to other online resources relevant to your LTE, for example publications, websites and datasets.
                            </div>
                        </div>
                        <div formArrayName="literature">
                            <div *ngFor="let pub of literature.controls; let i = index">
                                <glt-literature-editor [literatureModel]="pub"
                                                       (onRemove)="removeLiterature(i)">                
                                </glt-literature-editor>
                            </div>
                            <button class="btn btn-primary"
                                    (click)="addLiterature()">
                                <fa name="plus"></fa> Add another resource
                            </button>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Publish...">
                	<ng-template ngbTabContent>
                        <ng-container *ngIf="!publicationRequested">
                            <p>
                                Once you are happy with your experiment description, click below to submit
                                it for review.  A curator will check it over, and either approve it for publication
                                or provide comments about any issues which require clarification. 
                            </p>
                        </ng-container>

                        <ng-container *ngIf="publicationRequested">
                            <p>
                                Thankyou for submitting your experiment for review.  We will get back to you
                                shortly.
                            </p>
                        </ng-container>

                        <p>
                            You will receive an e-mail message when your experiment has been reviewed.
                        </p>

                        <glt-action-button [action]="requestPublication"
                                           [disabled]="model.invalid || publicationRequested">
                            Request review and publication
                        </glt-action-button>

                        <p *ngIf="model.invalid" style="color: red">
                            Fix validation errors before submitting for publication.
                        </p>
                	</ng-template>
                </ngb-tab>

            </ngb-tabset>
        </form>

        <!-- <pre>{{ descJSON }}</pre> -->
    </div>
</div>

