.container {
    padding-top: 80px !important;
}

.tab-content {
    height: calc(100vh - 160px);  /* Check offsets here, and maybe user better units? */
    overflow-y: scroll;
    padding-right: 30px;          /* Allowance for scroll bar */
}