<div [formGroup]="personModel"
     class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm">
                <label for="person-title">Title</label>
                <input type="text"
                       class="form-control"
                       id="person-title" 
                       formControlName="title">
            </div>

            <div class="form-group col-sm">
                <label for="person-name">Name</label>
                <input type="text" 
                       class="form-control"
                       glt-is-invalid
                       id="person-name"
                       formControlName="name">
                <div class="invalid-feedback">
                    You must specify a name.
                </div>
            </div>

            <div class="form-group col-sm">
                <label for="person-name">ORCiD</label>
                <input type="text" 
                       class="form-control"
                       id="person-name"
                       formControlName="orcid">
            </div>
            
            <div class="form-group col-sm-1 text-center align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>

        <div class="form-group">
            <label for="person-org">Affiliation</label>
            <input type="text"
                   class="form-control"
                   id="person-org" 
                   glt-is-invalid
                   formControlName="affiliation">
            <div class="invalid-feedback">
                You must specify ther person's affiliation.
            </div>
        </div>

        <div class="form-group">
            <label for="person-dept">Department</label>
            <input type="text"
                   class="form-control"
                   id="person-dept" 
                   formControlName="department">
        </div>

        <div class="row">
            <div class="form-group col-sm-8">
                <label for="org-role">Role</label>
                <glt-vocab-term-input inputId="org-role"
                                      vocabulary="Person Roles"
                                      [model]="personModel.get('role')"
                                      [altMenu]="true">
                </glt-vocab-term-input>
            </div>
            <div class="form-group col-sm-4">
                <label for="person-is-contact">Is contact person for this experiment?</label>
                <input type="checkbox"
                       class="form-control"
                       id="person-is-contact" 
                       formControlName="isContact">
            </div>
        </div>

        <div formArrayName="contacts">
            <div *ngFor="let contact of contacts.controls; let i = index">
                <glt-contact-editor [contactModel]="contact"
                                    (onRemove)="removeContact(i)">                
                </glt-contact-editor>
            </div>
        </div>
        <button class="btn btn-primary-outline"
                (click)="addContact()">
            <fa name="plus"></fa> Add another contact method
        </button>
    </div>
</div>
