<div [formGroup]="rotationModel"
     class="card mb-2">
    <div class="card-body">
        <div class="row mb-2">
            <div class="form-group col-sm">
                <label for="rot-name">Name</label>
                <input class="form-control"
                       id="rot-name"
                       type="text"
                       formControlName="name">
                <glt-form-help>
                    A name for the rotation 
                </glt-form-help>                
            </div>

            <ng-container formGroupName="dates">
                <div class="col-sm form-group">
                    <label for="rot-start-year">Start year</label>
                    <input class="form-control"
                           id="rot-start-year"
                           type="number"
                           formControlName="startYear" />
                           <glt-form-help>
                               The year this rotation started being used for this design period. This field is optional. 
                           </glt-form-help>                
                </div>
                <div class="col-sm form-group">
                    <label for="rot-end-year">End year</label>
                    <input class="form-control"
                           id="rot-end-year"
                           type="number"
                           formControlName="endYear"
                           glt-is-invalid />
                        <glt-form-help>
                            The final year this rotation was used for this design period. This field is optional. 
                        </glt-form-help>                
                    <div class="invalid-feedback">
                        End must be later than start.
                    </div>
                </div>
            </ng-container>

            <div class="col-sm form-group">
                <label for="rot-phasing">Phasing</label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary dropdown-toggle"
                            id="rot-phasing"
                            type="button"
                            ngbDropdownToggle>
                        {{ phasingLabel }}
                    </button>
                    <div class="dropdown-menu" 
                         ngbDropdownMenu>
                        <button ngbDropdownItem
                                *ngFor="let app of phasingValues"
                                (click)="setPhasing(app)">
                            {{ app }}
                        </button>
                    </div>
                    <glt-form-help>
                        Select <i>Complete</i> is all phases of the rotation are grown each year. This field is optional. 
                    </glt-form-help>                
                </div>
            </div>

            <div class="col-sm form-group">
                <label for="rot-treatment">Is Factor Level?</label>
                <input class="form-control"
                       id="rot-treatment"
                       type="checkbox"
                       formControlName="isTreatment" />
                    <glt-form-help>
                        Check this box if the rotation is a factor level. This field is optional. 
                    </glt-form-help>                
            </div>

            <div class="form-group col-sm-1 text-center align-self-end">
                <button type="button" 
                        class="btn btn-outline-danger full-height-button"
                        (click)="onRemove.emit()">
                    Delete
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm" formArrayName="phases">
                <div *ngFor="let group of groupedPhases; let i = index; trackBy: trackByIndex"
                     class="row">
                    <div class="col-sm-2">
                        Phase {{ i + 1 }}
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group rotation-phase mb-2"
                             [ngClass]="{'same-year': isSamePhase(phase)}"
                             [formGroup]="phase"
                             *ngFor="let phase of group; let j = index; trackBy: trackByIndex">
                            <div class="input-group-prepend"
                                 ngbDropdown>
                                <button class="btn btn-outline-secondary dropdown-toggle"
                                        type="button"
                                        ngbDropdownToggle>
                                    {{ cropLabelForPhase(phase) }}
                                </button>
                                <div class="dropdown-menu" 
                                     ngbDropdownMenu>
                                    <button ngbDropdownItem
                                            *ngFor="let crop of selectableCrops"
                                            (click)="setCropForPhase(phase, crop.id)">
                                        {{ crop.name }}
                                    </button>
                                </div>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   formControlName="notes">
                            <div class="input-group-append">
                                <button class="btn"
                                        type="button"
                                        (click)="toggleSamePhase(phase)"
                                        [disabled]="i == 0 && j == 0"
                                        [ngClass]="{'btn-outline-secondary': !isSamePhase(phase), 'btn-secondary': isSamePhase(phase)}">
                                    Same Phase
                                </button>

                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger"
                                        type="button"
                                        (click)="removePhase(i)">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-link"
                        (click)="addPhase()">
                    <fa name="plus"></fa> Add phase
                </button>
            </div>
        </div>   
    </div>
</div>
